ul li {
    text-align: left;
}

h2 {
    border-bottom: 1px dotted #9cc4e5;
}

ol {
    text-align: left;
}

.boton:hover {
    background-color: #DF0101;
}

.pelis a:hover {
    background-color: #DF0101;
}

.pelis a {
    color: #9cc4e5;
}

#subir-arriba {
    text-align: right;
}

#subir-arriba a {
    color: #9cc4e5;
}

#subir-arriba a:hover {
    background-color: #DF0101;
}
