/*reset
****************************************************/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}


/*animaciones-keyframes
****************************************************/


/*etiquetas
****************************************************/

body {
    font-size: 16px;
    font-family: arial;
    background-image: url(../img/magic-forest.jpg);
}

h1 {
    text-align: center;
    margin: 2em;
    color: white;
    font-size: 1.5em;
    text-decoration: underline;
    font-weight: bold;
}


/*layout-estructura
****************************************************/

main table {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
}

th {
    padding: 2.5em;
    margin: 2.5em;
    text-transform: uppercase;
    border-bottom: 1px dashed black;
    border-right: 1px dashed red;
    border-left: 1px dashed red;
}

th a:link {
    color: #cc66ff;
}

th a:visited {
    color: #008000;
}

th:hover {
    background-color: red;
}

th a:hover {
    color: white;
}

th a {
    text-decoration: none;
}

td {
    padding: 10px;
    background: rgba(252, 234, 187, 1);
    background: -moz-linear-gradient(left, rgba(252, 234, 187, 1) 0%, rgba(248, 181, 0, 1) 47%, rgba(252, 205, 77, 1) 80%, rgba(251, 223, 147, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252, 234, 187, 1)), color-stop(47%, rgba(248, 181, 0, 1)), color-stop(80%, rgba(252, 205, 77, 1)), color-stop(100%, rgba(251, 223, 147, 1)));
    background: -webkit-linear-gradient(left, rgba(252, 234, 187, 1) 0%, rgba(248, 181, 0, 1) 47%, rgba(252, 205, 77, 1) 80%, rgba(251, 223, 147, 1) 100%);
    background: -o-linear-gradient(left, rgba(252, 234, 187, 1) 0%, rgba(248, 181, 0, 1) 47%, rgba(252, 205, 77, 1) 80%, rgba(251, 223, 147, 1) 100%);
    background: -ms-linear-gradient(left, rgba(252, 234, 187, 1) 0%, rgba(248, 181, 0, 1) 47%, rgba(252, 205, 77, 1) 80%, rgba(251, 223, 147, 1) 100%);
    background: linear-gradient(to right, rgba(252, 234, 187, 1) 0%, rgba(248, 181, 0, 1) 47%, rgba(252, 205, 77, 1) 80%, rgba(251, 223, 147, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=1);
    color: #333333;
}

footer p {
    float: right;
    font-weight: bold;
    font-size: 1.2em;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
}


/*clases-comunes
****************************************************/


/*estilos-propios-por-paginas
****************************************************/
