legend {
    font-size: 25px;
    font-weight: bold;
}

label,
{
    font-size: 15px;
    font-weight: bold;
}

input,
select,
textarea,
option {
    background-color: gainsboro;
}

#fnac legend {
    font-size: 15px;
    font-weight: bold;
}

.fecha label {
    display: block;
}

.fecha select {
    width: 75px;
}

.fecha {
    display: inline-block;
}


}
#txtApellidos {
    width: 400px;
}
#txtEdad {
    width: 50px;
}
#sSexo {
    width: 100px;
}
