/* GENERAL */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: arial;
}

dl {
    border: 2px solid black;
    padding: 15px;
}

dt {
    color: blue;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: green;
}

dd {
    background-color: black;
    color: #e0dfda;
    text-align: center;
    border: 5px dotted black;
    border-bottom: 5px solid green;
}

li,
a {
    font-weight: bold;
}

h4,
h3 {
    font-size: 50px;
    text-decoration: underline;
}

a {
    color: orange;
    text-decoration: none;
}
