h2 {
    color: orange;
    font-family: Verdana;
    margin-bottom: 0px;
}

dt {
    color: blue;
    margin-bottom: 15px;
}

dd {
    background-color: beige;
    margin-left: 0px;
    margin-bottom: 15px;
}

.letras {
    text-decoration: none;
}

.ldiccionario {
    border: 1px solid black;
    padding: 15px;
    margin-top: 0px;
}
