html {
    background-color: grey;
    padding-top: 0px;
    margin: 0px auto 0px;
}

body {
    padding: 0px;
    margin: 0px auto 0px;
    text-align: center;
    width: 800px;
    background-color: white;
}

h1 {
    padding-top: 20px;
}

h2 {
    background-color: black;
    color: white;
    text-align: left;
    padding: 10px;
}

.ing {
    text-align: left;
}

.elab {
    padding: 0px 10px 0px 10px;
    text-indent: 20px;
    text-align: justify;
}

.dere {
    text-align: right;
    padding-bottom: 15px;
    padding-right: 10px;
}

.rojo {
    color: red;
}

.verde {
    color: green;
}
