* {
    margin: 0px;
    padding: 0px;
}

.container {
    text-align: center;
    width: 760px;
    padding: 0 40px 435px 40px;
    margin: 0px auto;
}

.blanco {
    background: white;
}

.rojo {
    background: red;
}

.verde {
    background: green;
}

.azul {
    background: blue;
}


/*			TABLA				*/

table {
    background: white;
    color: black;
    width: 100%;
    border-spacing: 0px;
    font-family: arial;
    border: 3px solid black;
    border-collapse: collapse;
}

th {
    color: black;
    text-align: center;
    margin: 2px;
    border: 3px solid black;
}

td {
    border: 3px solid black;
}

tr {
    border: 3px solid black;
}

tbody {
    background: white;
}
