.container {
    text-align: center;
    width: 760px;
    padding: 0 40px 435px 40px;
    margin: 0px auto;
}


/*				TABLA            */

table {
    background: white;
    color: black;
    width: 100%;
    border-spacing: 3px;
    font-family: arial;
}

.vacia {
    background: white;
}

td {
    text-align: center;
    border: 1px solid grey;
}

th {
    color: white;
    background: grey;
    text-align: center;
    margin: 2px;
}

thead th {
    padding: 10px;
}

tr>td:first-child {
    color: black;
    background: #babdc1;
    border: 0px;
}
