/*   Reset de los margenes y relleno */

* {
    margin: 0;
    padding: 0;
}


/*   aplicamos color al fondo de la pagina */

html {
    font-family: arial;
    font-size: 20px;
    background-color: grey;
}


/*   Usamos el div container para inicializar el 
alineado del texto la fuente de letra */

.container {
    width: 80%;
    text-align: center;
    margin: 5px auto;
    background-color: white;
}


/*   Encabezados */

h1 {
    padding: 100px 10px;
}

h2 {
    margin-bottom: 30px;
    padding: 10px 10px;
    text-align: left;
    background-color: #333942;
    color: white;
}


/*   Lista */

ul {
    padding: 30px;
    text-align: left;
}


/*   contenido */

.cuadro-parrafos {
    text-align: justify;
    text-indent: 20px;
    padding: 20px;
}

p {
    margin-bottom: 20px;
}

.pie-pagina {
    font-size: 12px;
    text-align: right;
}


/*   colores    */

.texto-rojo {
    color: red;
}

.texto-verde {
    color: green;
}
