* {
    margin: 0;
    padding: 0;
}

img {
    margin: 10px;
}

.container {
    text-align: center;
}

html {
    font-family: arial
}

#cuadro-cuerpo {
    border: 2px solid blue;
    padding: 40px 20px 40px 20px;
    width: 60%;
    margin: 30px auto;
}

h1 {
    font-size: 30px;
    color: blue;
    margin-bottom: 30px;
}

p {
    font-size: 20px;
    color: green;
}

a {
    font-weight: bold;
    font-style: italic;
}

#cuadro-vinculos {
    text-align: left;
    border: 2px solid red;
    padding: 40px 20px 40px 20px;
    width: 40%;
    margin: 0px auto 30px;
}

h2 {
    margin-bottom: 25px;
    font-size: : 25px;
    color: red;
}

li {
    margin: 10px 40px;
}
