/*********************************************/


/*            ESTILOS DE TABLA               */


/*********************************************/

.tabla-vinculos {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

.tabla-vinculos thead {
    background-color: grey;
}

.tabla-vinculos tbody tr:nth-child(even) {
    background-color: #9cc4e5;
}

.tabla-vinculos tbody>tr:hover {
    background-color: yellow;
}

.tabla-vinculos th {
    padding: 10px;
}

.tabla-vinculos td {
    padding: 5px;
}
