p {
    background-color: #CDEE74;
}

#links-letras {
    background-color: white;
}

.link-letras {
    text-decoration: none;
}

#navegacion {
    text-decoration: underline;
}

.bloque-diccionario {
    border: 1px solid black;
    margin: 20px;
}
