.citroen thead th {
    background-color: #777;
    color: #fff;
    border: none;
}

.citroen thead th:first-child {
    background-color: #fff;
}

.citroen tbody th {
    background-color: #D8D8D8;
    border: none;
}

header {
    border-bottom: 2px solid #969696;
    text-align: center;
    padding: 20px;
}

header ul {
    margin: 15px 0;
}

header li {
    display: inline-block;
    margin-right: 5px;
}

header li a {
    color: #D22929;
    border: 1px solid #D22929;
    text-transform: uppercase;
    padding: 3px 10px;
    font-size: 12px;
}

header a:hover {
    color: #fff;
    background-color: #D22929;
}

footer {
    padding-top: 25px;
    border-bottom: 5px solid #D62121;
}

footer p {
    text-align: center;
}

.citroen caption {
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 35px;
    color: #6B6B6B;
    text-align: center;
    text-transform: uppercase;
}

.container {
    width: 850px;
    background-color: #F3F3F3;
    padding: 25px 5px;
    margin-left: auto;
    margin-right: auto;
}

.avanzado th,
.avanzado td {
    border: 2px solid #000;
    color: #000;
}

.avanzado {
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}

.avanzado thead th {
    background-color: #D9954B;
}

.avanzado thead tr:first-child th:first-child {
    background-color: #fff !important;
}

.avanzado thead tr:first-child th:nth-child(odd) {
    background-color: #8ADD7C;
}

.avanzado thead tr:nth-child(2) th:nth-child(n+2):nth-child(-n+3) {
    background-color: #8ADD7C;
}

.avanzado thead tr:nth-child(3) th:nth-child(n+3):nth-child(-n+6) {
    background-color: #8ADD7C;
}

.avanzado tfoot td {
    background-color: #D9954B;
}

.avanzado tfoot td:nth-child(n+4):nth-child(-n+7) {
    background-color: #8ADD7C;
}

.avanzado tfoot td:first-child {
    background-color: #fff;
}
