.lista-pelis {
    margin-left: 40px;
    line-height: 35px
}

.lista-pelis li {}

.films a {
    display: block;
    text-align: right;
}

.lista-pelis a {
    color: white;
    padding: 0 6px 0 6px;
}

.films h3 {
    border-bottom: 1px solid #EBEBEB;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.lista-pelis a:hover {
    color: #000;
    background-color: #ECECEC;
}
