.gallery li {
    display: inline-block;
}

.gallery img:hover {
    opacity: 1;
    /*border-color: #2959C6;*/
}

.gallery img {
    margin: 0 15px 10px 0;
    padding: 0;
    border: 3px solid white;
    opacity: 0.7;
}

.gallery p {
    text-align: left;
}

.gallery h2 {
    text-align: left;
}

.gallery {
    text-align: center;
}

.detail {
    border: 5px solid #8CB5F9;
    margin-top: 30px;
    padding: 0;
}
