* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none
}

ol li {
    padding-left: 10px;
}

a {
    text-decoration: none;
    color: #77CBE7;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h2 {
    font-size: 32px;
    margin-top: 25px;
}

h3 {
    font-size: 22px;
    margin-top: 25px;
    color: #539EDD;
}

h1 {
    font-family: georgia, serif;
    font-size: 44px;
    color: #9cc4e5;
    text-transform: uppercase;
    font-weight: normal;
}

h1 a {
    background: url("../img/estrella.png") no-repeat;
    background-position: 0 10px;
    padding-left: 40px;
}

p {
    margin: 0 0 20px 0;
}

footer {
    text-align: center;
    border-top: 1px solid #434343;
    padding-top: 15px;
    margin-top: 25px;
}

footer p {
    text-indent: 0
}

html {
    background-color: #DADADA;
    background-image: url(../img/bg.png);
    font-family: "lucida sans unicode", sans-serif;
    color: #e0dfda;
}

header {
    text-align: center;
}

p {
    text-indent: 35px
}

ul {
    margin-top: 20px;
}

img {
    border: 1px solid #fff;
    padding: 5px;
}

ul li {
    list-style: none;
    margin-right: 10px;
}

strong {
    font-weight: bold;
    color: #B51818;
}

em {
    color: #1C8C1F;
    font-style: italic;
}

nav ul li {
    display: inline;
}
