html {
    background-color: #DADADA;
    background-image: url(../img/bg.png);
    font-family: "lucida sans unicode", sans-serif;
    color: #e0dfda;
}

header {
    text-align: center;
}

p {
    text-indent: 35px
}

a {
    text-decoration: none;
    color: #77CBE7;
}

ol {
    margin-left: 40px
}

ul {
    margin-top: 20px;
}

img {
    border: 1px solid #fff;
    padding: 5px;
}

ul li {
    list-style: none;
    margin-right: 10px;
}

strong {
    font-weight: bold;
    color: #B51818;
}

em {
    color: #1C8C1F;
    font-style: italic;
}

nav ul li {
    display: inline;
}

ul li:active {
    color: #937EED;
}

h1 {
    font-family: georgia, serif;
    font-size: 44px;
    color: #9cc4e5;
    text-transform: uppercase;
    font-weight: normal;
}

h1 a {
    background: url("../img/estrella.png") no-repeat;
    background-position: 0 10px;
    padding-left: 40px;
}

p {
    margin: 0 0 20px 0;
}

h2 {
    font-size: 32px;
    margin-top: 25px;
}

h3 {
    font-size: 22px;
    margin-top: 25px;
}

footer {
    text-align: center;
    border-top: 1px solid #000;
    padding-top: 15px;
    margin-top: 25px;
}

footer p {
    text-indent: 0
}

.index-h2 {
    margin-left: 35px;
}

.menu-arriba a {
    color: #fff;
}

.menu-arriba li {
    display: inline-block;
    margin-right: 15px;
    border: 1px solid #fff;
    text-transform: uppercase;
    border-radius: 10px;
}

.menu-arriba li:hover {
    background-color: #DADADA;
}

.menu-arriba a {
    display: inline-block;
    padding: 3px 10px;
}

.menu-arriba a:hover {
    color: #251F1F;
}

.centrar {
    text-align: center;
}

.wrapper {
    width: 960px;
    background-color: #342e29;
    padding: 40px 40px 20px;
    margin: 0 auto;
}

.gallery li {
    display: inline;
}

.details {
    margin-left: 35px;
}
