.ficha {
    width: 80%;
    color: #fff;
    border: 1px solid #fff;
    margin: 60px auto;
}

.ficha td:first-child {
    background-color: #7E7E7E;
}

.ficha td {
    padding: 7px 10px;
    font-weight: normal;
}
