/*    
    path: css/style.css
    version: 1.0
    date: XXXX-XX-XX
    autor: Empresa
*/


/* Reset
************************************************************* */


/* Animaciones- Keyframes
************************************************************* */


/* Etiquetas
************************************************************* */


/* Reset
************************************************************* */


/* Clases comunes
************************************************************* */


/* Layouts
************************************************************* */


/* Estilos propios por páginas
************************************************************* */
