/*    
    path: css/style.css
    version: 1.0
    date: XXXX-XX-XX
    autor: Empresa
*/


/* Reset
************************************************************* */


/* Animaciones- Keyframes
************************************************************* */


/* Etiquetas
************************************************************* */

body {
    font-size: 16px;
}

h1 {
    font-size: 2em;
}


/* Reset
************************************************************* */


/* Clases comunes
************************************************************* */


/* Layouts
************************************************************* */

#content {
    width: 1024px auto;
}


/* Estilos propios por páginas
************************************************************* */
