html {
    font-family: "verdana" serif;
    background-color: grey;
}

h1 {
    font-family: "verdana" serif;
    text-align: center;
    color: blue;
    margin: 0px auto;
}

h2 {
    margin: 20px -10px;
    padding: 6px;
    font-size: 16px;
    color: white;
    background-color: #A6A09E;
}

.contenedor {
    margin: 0px auto;
    padding: 10px;
    width: 600px;
    background-color: white;
}

li {
    margin-bottom: 5px;
}

.separacion {
    padding: 0px 4px;
    text-indent: 20px;
    text-align: justify;
}

img {
    display: block;
    margin: 0px auto;
}

.futher {
    text-align: right;
}

.h2o {
    color: #0066CC;
    font-weight: bold
}

.carne {
    color: #F30
}

.ingredientes {
    color: #390
}

abbr {
    border-bottom: 1px dotted #333
}
