/*-- AÑADO LAS FUENTES --*/

@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro:300');

/*-- EL RESTO DE COSAS --*/

body {
    text-align: center;
    font-size: 1.5em;
    padding: 5em;
    margin: 2em;
    border: #A9A9A9 solid 1em;
    background-color: #C3F9F3;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.2em;
}

article,
aside,
div,
section,
header,
footer,
p {
    margin-bottom: 1em;
}

p {
    text-align: justify;
    margin: 1em;
}

a {
    text-decoration: none;
    color: #F522DA;
    font-family: 'Kaushan Script', cursive;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Amatic SC', cursive;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

h1 {
    font-weight: bold;
    font-size: 600%;
}

h2 {
    font-size: 250%;
}

h3 {
    font-size: 200%
}

h4 {
    font-size: 150%
}

h5 {
    font-size: 100%
}

/*
#design-archives {
    position: fixed;
    float: right;
    top: 0;
    right: 0;
    width: 100%;
}
*/
