/* RESET CSS */

@import url('./reset.css');

/* BANDERAS */

@import url('./flags.min.css');

/*- TIPOS -*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

/* GENERALES */

html {
    font-family: Arial, sans-serif;
    font-size: 1em;
}


/* HEADER */

header {
    background-color: #F1F1F1;
    margin-bottom: 2em;
    padding: 1em 3em 0.5em;
    height: 4.5em;
    border-bottom: #D0D0D0 solid 1px;
}

header a
{
	text-decoration:none;
}

header .google-logo-link
{
    display: block;
    width: 224px;
    height: 72px;
    float: left;
}

header>span{
    display:block;
    text-align: right;
}

header .login-btn {
    display: inline-block;
    background-color: #478AF8;
    padding: 0.6em;
    border-radius: 3px;
    border: #2F5BB7 solid 1px;
    color:#FFFFFF;
    margin-top:1em;
}

header .login-btn:hover{
	background-color:#377AE8;
}


/*- MAIN -*/

main
{
	width: 95%;
	margin: 0 auto;
}

main h1 {
    text-align: center;
    font-size: 2.5em;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    margin-bottom: 1em;
}


/* esto no me gusta :( */

main #form-section {
    float: right;
    width: 40%;
}

main #info-section {
    float: left;
    width: 60%;
}

/* bórralo :( */


/* FORMULARIO */

#form-section h2 {
    display: none;
}

#form-section form {
	box-sizing: border-box;
    padding: 1.5em;
    background-color: #F1F1F1;
}

#form-section legend,
#form-section label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 0.9em;
    /* para que el texto no se pueda seleccionar */
    user-select: none; 
}

#form-section fieldset {
    margin-bottom: 0.75em;
}

#form-section ::placeholder
{
    padding: 0 0.5em;
}

#fset-name label,
#fset-username legend,
#fset-password legend,
#fset-password-check legend,
#fset-birthday label,
#fset-gender legend,
#fset-telephone label,
#fset-current-mail legend,
#fset-country legend,
#fset-submit legend ,
#fset-main-page legend{
    display: none;
}

#form-section input, #form-section select{
	width: 100%;
    box-sizing: border-box;
    height: 2em;
    /*appearance:none;
    -moz-appearance: none;
    -webkit-appearance: none;*/
    border:  1px solid lightgray;
}

#fset-name input{
    float: left;
    width: 48%;
}

#fset-name input:first-of-type{
    margin-right: 4%;
}

#fset-birthday input ,
#fset-birthday select{
    float: left;
}

#fset-birthday input:first-of-type{
    width:18%;
    margin-right: 3%;
}

#fset-birthday select{
    width:46%;
    margin-right: 3%;
}

#fset-birthday input:last-of-type{
    width:30%;
}

#fset-telephone select{
    float: left;
    width: 15%;
}

#fset-telephone input{
    width:85%;
}

#fset-main-page input
{
    width: 1.5em;
    float: left;
}

#fset-main-page label
{
    padding-top:9px;
    padding-left: 2.5em;
    margin-bottom: 1em;
    font-weight: normal;
}

#fset-main-page p small
{
    clear: both;
    font-size: 0.7em;
}

#fset-username input::placeholder {
    text-align: right;
}

#form-section footer p
{
    padding: 1em 2em;    
}

#form-section input[type=submit], #form-section input[type=button]
{
    border: 1px solid #3E82F0;
    /*background: #4B8DFA;*/
    color: #fff;
    padding: 8px;
    height: auto;
    border-radius: 2px;
    font-size: 0.8em;
    text-shadow: 0 1px #888;
    background: linear-gradient(#4B8DFA, #1E62E0)
}

#form-section input[type=submit]:hover, #form-section input[type=button]:hover
{
    background: -webkit-linear-gradient(#1E62E0, #4B8DFA);
}

/*- INFO -*/

#info-section {
    text-align: center;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #737373;
}

#info-section section{
    margin-bottom: 4em;
}

#info-section h2 {
    display: none;
}

#info-section h3{
    font-size: 1.25em;
    margin-bottom: 1em;
}

#info-section p{
    font-size: 0.9em;
    margin-bottom: 3em;
}

.google-icons {
    display: inline-block;
    width: 325px;
    height: 24px;
    background-image: url('../img/google-icons.png');
}

.google-devices {
    display: inline-block;
    width: 300px;
    height: 172px;
    background-image: url('../img/google-devices.png');
}


/*- FOOTER -*/

body>footer
{
	clear: both;
    padding:1em 3em 1em;
    border-top: 1px #EBEBEB solid;
    font-size: 0.8em;
}

body>footer ul{
    display:block;
}

body>footer ul li{
    display: inline-block;
    margin-right: 2em;
}

body>footer ul li:first-child{
    color:#999999;
}

body>footer ul a{
    text-decoration: none;
    color: #000;
}

body>footer form{
    float: right;
    margin-top: -20px;
}

body>footer form label:first-child{
    display: none;
}

body>footer .lang-img
{
    background: url('../img/idiomica.png');
    width:21px;
    height:21px;
    display: inline-block;
}

body>footer input[type=submit]{
    display:none;
}




@media (max-width: 760px) {
    main #form-section {
        width: 100%;
    }
    main #info-section {
        display: none;
    }

    main h1
    {
        background-color: #F1F1F1;
        margin-bottom: 0;
        font-size: 2em;
        padding: 1em 0.85em 0em;
    }
}

@media (max-width: 500px)
{

    header{
        height: inherit;
        padding: 1em 1em 0.5em; 
    }

    header .google-logo-link
    {
        float:none;
        margin: 0 auto;
    }

    header>span{
        display:block;
        text-align: center;
    }

    body>footer
    {
        padding:1em 2em 1em;
    }

    body>footer form
    {
        display: none;
    }

    body>footer ul
    {
        text-align: center;
    }

    body>footer ul li
    {
        margin: 0 0.5em;
    }

    
}
