html {
    font-family: "Times", serif;
    font-size: 20px;
    margin-left: 40px;
}

h1 {
    font-size: 56px;
    font-family: Arial, sans-serif;
    color: grey;
    margin-top: 0px;
}

h2 {
    font-family: Arial, sans-serif;
    color: purple;
    font-weight: normal;
}

a {
    color: green;
    font-family: Courier, Arial, serif;
}

b {
    font-size: 22px;
    color: #5A1313;
}

#sobre-google {
    border: solid 3px blue;
    padding: 30px;
    width: 1000px;
    margin: 30px auto;
    text-align: center;
}

#descargas {
    border: solid 3px red;
    padding: 30px;
    width: 750px;
    margin: 30px auto 70px;
}

#descargas li {
    margin-bottom: 20px;
}

#google-logo {
    margin: 30px auto;
    display: block;
}
