* {
    margin: 0;
    padding: 0;
}

main {
    width: 980px;
    margin: 0 auto;
}

body{
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 50px 0px;
    text-align: center;
}

#project-list {
    list-style-type: none;
}

#project-list li{
	border-bottom: 1px dashed #787777;
	margin-bottom: 5px;
}

#project-list li>a{
	text-decoration: none;
	color:#23A605;
}

#project-list li>a:hover{
	background-color: #F8E143;
}
