/* --- RESET --- */

* {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* --- MAIN --- */

main {
    width: 1100px;
    margin: 20px auto;
}

#table-info {
    width: 100%;
}

#table-info caption{
	text-transform: uppercase;
	margin:20px;
	font-weight: bold;
}

#table-info td,
#table-info th {
    border: 2px solid #000000;
}

#table-info thead th,
#table-info tfoot td {
    background-color: #D7E3BB;
}

#table-info thead tr:first-child th:first-child {
    width: 16%;
    background-color: inherit;
}

#table-info thead tr:first-child th:nth-child(2n + 2),
#table-info thead tr:nth-of-type(2) th:nth-child(3n+1),
#table-info thead tr:nth-of-type(2) th:last-child,
#table-info thead tr:last-child th:first-child,
#table-info thead tr:last-child th:nth-child(2),
#table-info thead tr:last-child th:nth-child(n +7),
#table-info tfoot tr:last-child td:first-of-type,
#table-info tfoot tr:last-child td:nth-of-type(2),
#table-info tfoot tr:last-child td:nth-of-type(n +7) {
    background-color: #FBD2B2;
}

#table-info tbody th {
    text-align: left;
    text-transform: uppercase;
    padding-left: 5px;
}

#table-info tbody td,
#table-info tfoot td {
	padding-right: 5px;
    text-align: right;
}

#table-info tfoot th {
    padding: 10px;
    text-transform: uppercase;
}

#table-info tfoot td {
    font-weight: bold;
}
