* {
    margin: 0;
    padding: 0;
}

#main-menu {
    text-align: right;
    display: inline-block;
}

li.main-menu-opt-1 {
    display: inline-block;
    margin-left: 10px;
    font-family: arial, sans-serif;
}


