* {
    padding: 0;
    margin: 0;
}

body {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    color: #fff;
    font-size: 3em;
}

.container {
    background-color: rgba(255, 255, 255, 0.5);
    height: 900px;
    width: 1040px;
    margin: 0 auto;
    padding: 25px 30px;
    overflow: hidden;
}

@keyframes example {
    from {
        background-color: red;
        border-radius: 0;
    }
    to {
        background-color: yellow;
        border-radius: 55px;
    }
}


/* The element to apply the animation to */

.anim {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
}

.anim2 {
    animation: animationFrames linear 4s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames linear 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: animationFrames linear 4s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 50% 50%;
    -o-animation: animationFrames linear 4s;
    -o-animation-iteration-count: infinite;
    -o-transform-origin: 50% 50%;
    -ms-animation: animationFrames linear 4s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 50%;
    background-color: #B10F0F;
    width: 100px;
    height: 100px;
}

@keyframes animationFrames {
    0% {
        transform: translate(-222px, -67px) rotate(0deg);
    }
    45% {
        transform: translate(153px, 90px) rotate(81deg);
    }
    100% {
        transform: translate(200px, 0px) rotate(180deg);
    }
}

@-moz-keyframes animationFrames {
    0% {
        -moz-transform: translate(-222px, -67px) rotate(0deg);
    }
    45% {
        -moz-transform: translate(153px, 90px) rotate(81deg);
    }
    100% {
        -moz-transform: translate(200px, 0px) rotate(180deg);
    }
}

@-webkit-keyframes animationFrames {
    0% {
        -webkit-transform: translate(-222px, -67px) rotate(0deg);
    }
    45% {
        -webkit-transform: translate(153px, 90px) rotate(81deg);
    }
    100% {
        -webkit-transform: translate(200px, 0px) rotate(180deg);
    }
}

@-o-keyframes animationFrames {
    0% {
        -o-transform: translate(-222px, -67px) rotate(0deg);
    }
    45% {
        -o-transform: translate(153px, 90px) rotate(81deg);
    }
    100% {
        -o-transform: translate(200px, 0px) rotate(180deg);
    }
}

@-ms-keyframes animationFrames {
    0% {
        -ms-transform: translate(-222px, -67px) rotate(0deg);
    }
    45% {
        -ms-transform: translate(153px, 90px) rotate(81deg);
    }
    100% {
        -ms-transform: translate(200px, 0px) rotate(180deg);
    }
}
