/********************************************/


/*           ESTILOS DE PAGINA              */


/********************************************/

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "lucida sans unicode";
}

.container {
    width: 70%;
    margin: 15px auto;
    text-align: center;
    padding: 15px;
}


/********************************************/


/*           ESTILOS DE TABLA              */


/********************************************/

.tabla-versiones {
    border-spacing: 5px;
    font-family: Arial;
    font-size: 12px;
    margin: 30px auto;
    empty-cells: hide;
}

.tabla-versiones th,
td {
    border: 1px solid black;
    padding: 10px;
}

.tabla-versiones thead th {
    background-color: #342e29;
    color: white;
}

.tabla-versiones tbody th {
    background-color: #9cc4e5;
}

.tabla-versiones tbody td {}
