/********************************************/


/*           ESTILOS DE PAGINA              */


/********************************************/

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Arial";
}

.container {
    width: 80%;
    margin: 15px auto;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}


/********************************************/


/*           ESTILOS DE TABLA              */


/********************************************/

.grey {
    background-color: grey;
}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}

.pink {
    background-color: pink;
}

.tabla-gorda {
    border-collapse: collapse;
    width: 100%;
}

.tabla-gorda th,
td {
    border: 1px solid black;
    padding: 3px;
}

.tabla-gorda td {
    background-color: white;
    width: 8%;
}

.tabla-gorda tfoot td {
    padding: 10px;
}
