html {
    background-color: grey;
    font-family: "lucida sans unicode", Sans-serif;
    color: #E0DFDA;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 800px;
    background-color: black;
    padding: 20px 50px 20px;
}

.decor {
    border: 2px dashed white;
}

.menu {
    display: block;
    text-align: center;
}

h1 {
    font-size: 44px;
    font-family: Georgia, Sans-serif;
    text-transform: uppercase;
    background-image: url("../img/Fotos-de-Selva.jpg");
    text-align: center;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h1,
h2,
h3,
a,
i {
    color: #9CC4E5;
}

.img1 {
    border: 3px solid white;
    display: block;
    margin: auto;
}

.a1 {
    border: 2px solid white;
    padding: 2px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
}

.foot {
    border-top: 1px solid white;
    font-family: cursive;
    font-size: 12px;
    text-align: center;
}

.menu>ul>li {
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

.menu>ul>li>a:hover {
    background-color: #9CC4E5;
    color: black;
}
