.tab1 {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid white;
    text-align: center;
}

tr td:first-child {
    background-color: grey;
    font-style: bold;
}

tr:hover {
    outline: 3px solid yellow;
}

tr td:last-child {
    text-align: left;
    padding: 15px;
}
