    * {
        padding: 0;
        margin: 0;
    }
    
    ul {
        list-style: none
    }
    
    a {
        text-decoration: none;
        color: #F0FF00;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    html {
        font-family: helvetica, arial, sans-serif;
        background-color: #5e5e5e;
        font-size: 16px;
    }
    
    strong {
        color: #F0FF00;
    }
