.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}

header h1 {
    font-size: 72px;
    color: #fff;
    font-weight: normal;
    text-transform: capitalize;
}

header h2 {
    font-weight: normal;
    font-size: 26px;
    margin-bottom: 22px;
}

header h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0;
}

#menu {
    border-bottom: 2px dashed #000;
    padding-bottom: 18px;
    margin-bottom: 10px;
}

#menu li {
    display: inline-block;
    margin-right: 45px;
}

#menu a {
    padding-left: 7px;
    color: #fff;
    border-left: 3px solid #F0FF00;
}

#menu a:hover {
    color: #F0FF00;
}

h1 + p {
    color: #fff;
    font-size: 24px;
    margin-top: 20px;
}

.content {
    background-color: #fff;
    padding: 30px 20px 50px 20px;
    margin-top: 20px;
}

.content a {
    color: #131E8D;
    font-weight: bold;
}

.content p {
    margin: 15px 0;
}


/*--------------------------------Table styles*/

.enlaces {
    width: 100%;
    border: 1px solid #353434;
    border-radius: 15px 15px 0 0;
}

.enlaces thead th:first-child {
    border-radius: 15px 0 0 0 0;
}

.enlaces thead th:last-child {
    border-radius: 0 15px 0 0 0;
}

.enlaces thead tr {
    border-radius: 15px 15px 0 0;
}

.enlaces th {
    width: 50%;
    font-weight: bold;
    background-color: #BDB480;
    padding: 5px 10px;
    text-align: left;
}

.enlaces td {
    padding: 5px 10px;
}

.enlaces tr:nth-child(even) {
    background-color: #BABABA;
}

.enlaces tr:hover {
    background-color: #FFE400
}


/*--------------------------------footer styles*/

footer p {
    text-align: center;
    color: #fff;
    margin: 20px 0;
}
