#links-table {
    border: #757575 solid 1px;
    width: 100%;
}

#links-table thead tr {
    background-color: #999999;
    text-align: left;
}

#links-table th,
#links-table td {
    padding: 7px 12px;
    width: 50%;
}

#links-table tbody tr:nth-child(even) {
    background-color: #CCCCCC;
}

#links-table tbody tr:hover {
    background-color: #FCF029;
}
