/* RESET */

* {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* BACKGROUND */

html {
    background-color: #666666;
}


/* GLOBALS */

body {
    font-family: Arial, sans-serif;
    color: #ffffff;
}

#container {
    width: 800px;
    margin: 0 auto;
}


/*--- MAIN MENU ---*/

#main-menu {
    margin: 15px 0px;
    border-bottom: #000000 dashed 2px;
    padding-bottom: 20px;
}

#main-menu>li {
    display: inline-block;
    margin-right: 50px;
}

#main-menu>li a {
    border-left: #FCF029 solid 3px;
    padding-left: 8px;
    color: #ffffff;
    text-decoration: none;
}

#main-menu>li a:hover {
    color: #FCF029;
}


/*--- TOP PART ---*/

h1 {
    font-size: 68px;
    font-weight: normal;
    margin-bottom: 24px;
}

h1+p {
    font-size: 24px;
    margin-bottom: 26px;
}

h1+p strong {
    font-weight: normal;
    color: #FCF029;
}


/*--- CONTENT ---*/

#content {
    background-color: #FFFFFF;
    color: #000000;
    padding: 30px 20px;
    margin-bottom: 18px;
}

#content h2 {
    font-weight: normal;
    margin-bottom: 24px;
}

#content .my-image {
    margin: 0px auto 32px;
    display: block;
}

#content h3,
#content p {
    font-size: 16px;
    margin-bottom: 16px;
}

#content a {
    font-weight: bold;
    color: #406AC9;
}


/*--- FOOTER ---*/

#footer {
    text-align: center;
    margin-bottom: 16px;
}

#footer>small {
    font-size: 16px;
}
