.caja1{display: inline-block;
	border:2px solid blue;
width:800px;padding:20px;background:grey
}
.caja2{display: inline-block;
	border:5px solid red;
width:500px;
padding:50px;
background:grey;
margin-top: 10px
}
.container{
	margin-right:auto;
	margin-left: auto;
	width: 1000px;
	text-align: center}
body{margin:0;}
li{text-align: left}
.izq{text-align:left;}
.center{text-align: center}