/* Animaciones- Keyframes
************************************************************* */


/* Etiquetas
************************************************************* */

body {
    font-size: 16px;
}


/* Clases comunes
************************************************************* */


/* Layouts
************************************************************* */

#content {
    width: 800px;
    margin: 0 auto;
    background-color: black;
    padding: 20px;
    border: 2px bold;
    text-align: center;
}

header h1 {
    text-transform: uppercase;
    border: 2px white bold;
    border-color: azure;
    margin: 20px;
    padding: 20px;
    color: aliceblue;
    font-size: 400%;
    background-color: #474343;
}

main section header h2 {
    font-size: 200%;
    text-transform: capitalize;
    color: aliceblue;
}


/*********Menu****************/

main section ul li a {
    color: #e0dfda;
    font-size: 20px;
    border: 1px solid white;
    text-decoration: none;
    padding: 10px;
    margin: 8px;
    text-transform: uppercase;
    display: inline-block;
}

main section ul li a:hover {
    background-color: azure;
    color: black;
}


/***************************/


/* Estilos propios por páginas
************************************************************* */
