img+p {
    margin-top: 25px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid black;
    width: 760px;
    text-align: left;
}

table thead {
    background-color: grey;
}

table thead th {
    width: 380px;
}

tr {
    padding: 10px;
}

tbody tr:hover {
    background-color: yellow;
}

td {
    padding: 5px 5px;
}


/*tbody tr:nth-child(2n+1) {
    background-color: blue;
}*/

tr:nth-child(even) td:last-child {
    background-color: red;
}

tr:nth-child(odd) td:first-child {
    background-color: red;
}
