li,
h3 {
    text-align: left;
}

h3 {
    border-bottom: 1px solid white;
}

.subir {
    text-align: right;
}

.subir a:hover {
    text-decoration: none;
}

#lista-pelis a {
    color: white;
}

#lista-pelis a:hover {
    background-color: white;
    color: black;
    text-decoration: none;
}
