html {
    background-color: grey;
    color: #e0dfda;
    font-family: "lucida Sans unicode", sans-serif;
}

body {
    margin: 0;
}

#container {
    width: 600px;
    margin: 0 auto;
    background-color: #342e29;
    padding: 20px;
    border: 2px bold;
    text-align: center;
}

#menu li {
    display: inline-block;
}

#menu a:hover {
    background-color: white;
    color: black;
}

h1 {
    font-size: 44px;
    font-family: georgia, serif;
}

h2 {
    font-size: 24px;
    text-align: left;
}

h3 {
    font-size: 18px;
}

h1,
h2,
h3 {
    font-weight: normal;
    color: #9CC4E5;
}

.boton {
    color: #e0dfda;
    font-size: 20px;
    border: 1px solid white;
    text-decoration: none;
    padding: 4px;
    margin: 8px;
    text-transform: uppercase;
}

p {
    text-align: justify;
    font-size: 14px;
}

#imagen-kong {
    display: block;
    border: 1px solid white;
    padding: 3px;
    margin: 0 auto;
}

.footer {
    border-top: 1px solid white;
    margin-top: 30px;
    text-align: center;
    padding-top: 20px;
    font-style: italic;
}
