h1{
	font-size:44px;font-style: georgia;color:white;
}
h2{
	font-size:24px;font-style: "lucida sans unicode";color:blue;
}
h3{ font-size:
18px;font-style: "lucida sans unicode";color:red;
}
li{color:yellow;}


p{
	color:yellow;
}	