html {
    background-color: silver;
}

h1 {
    font-size: 45px;
    color: red;
    font-family: verdana;
    text-align: center;
}

h2 {
    font-size: 32px;
    color: blue;
    font-family: monospace;
    background-color: yellow;
    text-align: center;
}

img {
    width: 50%;
}


}
p {
    font-size: 25px;
    color: purple;
    font-family: arial;
}
li {
    font-weight: bold;
    font-family: verdana;
    font-size: 18;
    color: yellow;
}
