* {
    padding: 0;
    margin: 0;
}

body {
    background: grey;
    font-family: verdana;
    font-size: 18px;
}

#login-form {
    color: white;
    display: block;
    margin: auto auto;
    width: 20%;
    background: #666;
    text-align: left;
    padding: 50px;
}

label {
    text-align: left;
    width: 100%;
}

input {
    background: transparent;
    padding: 10px 30px;
    border: 2px solid white;
    max-width: 100%;
}

.login-button {
    padding: 10px 30px;
    color: white;
    background: transparent;
    border: 2px solid white;
    width: 100%;
}

#nombre,
#apellidos {
    display: inline-block;
}
