html {
    background-image: url(../img/fondo.jpg);
}

body {
    text-align: center;
    font-size: 1.5em;
    margin: 10em;
    border: 1px solid lightgray;
    
    font-family: 'Roboto', sans-serif;
    color: black;
    
    background-color: #ffeaff;
    
    margin-top: 8em;
}

#design-archives {
    position: fixed;
    top: 0;
    right: 0;
    float: right;
    background-color: white;
    width: 100%;
    margin: 0 auto;
}

#design-archives h3 {
    margin: 0.5em 0;
}

#design-archives ul {
    margin-bottom: 1em;
}

#design-archives li {
    display: inline;
}
article, aside, div, section, header, footer {
    margin: 1em;
}

p {
    text-align: justify;
    margin: 1em 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Stint Ultra Expanded', cursive;
    margin-top: 2em;
    margin-bottom: 1em;
}

h1 {
   font-size: 400%; 
}

h2 {
    font-size: 300%;
}

h3 {
    font-size: 250%;
}

h4 {
    font-size: 200%;
}

h5 {
    font-size: 150%;
}

h6 {
    font-size: 125%;
}

a {
    text-decoration: none;
    color: darkcyan;
}

a:hover {
    text-decoration: underline;
}