    body {
        font-family: arial;
        font-size: 1em;
    }
    
    h1 {
        font-size: 200%;
        padding-bottom: 1.5em;
    }
    
    #franjasuperior {
        float: left;
        width: 100%;
        background-color: #f1f1f1;
    }
    
    #logo {
        float: left;
    }
    
    #inicio-sesion {
        float: right;
    }
    
    #tituloprincipal {
        text-align: center;
    }
    
    #tituloprincipal h1 {
        font-size: 2em;
    }
    
    #marketing {
        float: left;
        width: 55%;
    }
    
    #formulario {
        float: right;
        width: 45%;
    }
    
    #formulario form {
        padding-left: 3em;
        background-color: #f1f1f1;
        padding-right: 3em;
        margin-right: 10em;
    }
    
    #formulario input,
    #formulario select {
        width: 100%;
        height: 2em;
        box-sizing: border-box;
    }
    
    #formulario legend {
        font-weight: bold;
        font-size: 120%;
        padding-top: 1.5em;
        margin-bottom: 0.5em;
    }
    
    #formulario #nombre,
    #formulario #apellidos {
        width: 50%;
        float: left;
    }
    
    #formulario #mes {
        width: 40%;
        float: left;
    }
    
    #formulario #dia,
    #formulario #ano {
        width: 30%;
        float: left;
    }
    
    body > footer {
        clear: both;
        border-top: 1px solid lightgray;
        padding-top: 1.5em;
    }
    
    footer form {
        align-self: right;
    }
    
    #fusuario input::placeholder {
        text-align: right;
    }
    
    @media (max-width: 975px) {
        #formulario {
            width: 100%;
        }
        form {
            padding-right: 3em;
            margin: 0;
        }
        #marketing {
            display: none;
        }
    }
