#enlaces li {
    margin-left: 25px;
    text-align: left;
    color: white;
}

#enlaces a {
    color: blue;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid white;
    width: 90%;
    margin: 20px auto;
    color: white;
}

th {
    background: #555555;
    text-align: center;
    color: white;
    padding: 10px;
    width: 30%;
}

td {
    text-align: left;
    padding-left: 10px;
}
