li a {
    color: white;
}

li a:hover {
    color: blue;
}

.indice-filmografia ol {
    display: block;
    text-align: auto;
    padding-left: 18px;
    margin: 30px 0px;
}

.indice-filmografia li {
    text-align: left;
    color: white;
}

.contenedor-filmografia h3 {
    border-bottom: 1px solid white;
    color: #9CC4e5;
    text-align: left;
}

.contenedor-filmografia li {
    text-align: left;
    color: white;
}

.contenedor-filmografia ul {
    padding-left: 18px;
}

h3 {
    margin: 20px 0;
}

.contenedor-filmografia p {
    margin: 20px 0;
}

.link-inicio {
    display: block;
    text-align: right;
}

.link-inicio:hover {
    color: blue;
}
