.contenedor-galeria {
    margin: 40px;
    width: 100%;
    margin: auto;
}

.galeria img {
    border: 3px solid white;
    display: block;
}

.galeria img:hover {
    border: 3px solid yellow;
}

.galeria a {
    display: inline-block;
    margin: 10px;
}

a:focus {
    outline: 3px solid yellow;
}

.contenedor-galeria img {
    border: 2px solid yellow;
    margin: 5px;
}

.contenedor-galeria img:hover {
    border: 2px solid white;
}
