<<<<<<< HEAD
.divmonofoto {
    text-align: center;
    margin: 20px;
}

#monofoto {
    text-align: center;
    padding: 2px;
    border: 1px solid white;
}
=======
.divmonofoto {
    text-align: center;
    margin: 20px;
}

#monofoto {
    text-align: center;
    padding: 2px;
    border: 1px solid white;
}
>>>>>>> fd47c77bcc7caf08540eeb8f13d26d91d013e7ef
