html {
    background-color: grey;
    font-family: "Lucida Sans Unicode", Sans-Serif;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    padding: 40px 30px;
    width: 600px;
    margin: 0 auto;
    background-color: #342E29;
    text-align: center;
}

h1 {
    font-size: 44px;
    color: #9CC4e5;
    font-variant: small-caps;
    text-align: center;
}

h2 {
    font-size: 24px;
    color: #9CC4e5;
    text-align: left;
}

h3 {
    font-size: 18px;
    text-align: center;
}

p {
    color: #E0DFDA;
    text-align: justify;
}

a {
    color: #9CC4e5;
}

.button {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 8px;
    margin: 15px;
}

ul {
    text-align: center;
    word-spacing: 30px 0px 30px 0px;
}

.menu li {
    display: inline-block;
    text-align: center;
    margin: 30px 10px;
}

.footer {
    border-top: 1px solid white;
    width: 100%;
    margin-top: 30px;
    font-style: italic;
    text-align: center;
}

.footer p {
    text-align: center;
}

a.button:hover {
    background: white;
    color: black;
}

.menu .current {
    background: green;
}

#index .index,
#filmografia .filmografia,
#galeria .galeria,
#extras .extras {
    background: green;
}
