#extras-info
{
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #e0dfda;
	width: 90%;
	margin:0 auto;
}

#extras-info th
{
	width:30%;
	background-color: #5C5C5C;
	padding: 10px 0px;
}

#extras-info td
{
	text-align: left;
	padding-left: 20px;
}

.bottom-links
{
	text-align: left;
}