#movie-menu {
    text-align: left;
    padding-left: 20px;
    margin-bottom: 50px;
}

#movie-menu a {
    color: #e0dfda;
}

#movie-menu a:hover {
    color: #342e29;
    background-color: #e0dfda;
    text-decoration: none;
}

.movie-info {
    text-align: left;
    padding-left: 20px;
    margin-top: 40px;
}

.movie-info+p {
    text-align: right;
    margin-bottom: 40px;
}

.movie-info+p a:hover {
    text-decoration: none;
}
