.image-gallery{
	margin:0 auto;
	padding:0;
}

.image-gallery>li
{
	display: inline-block;
	margin:20px;
}

.image-gallery img
{
	border: 4px #e0dfda solid;
}

.image-gallery img:hover
{
	border: 4px #D5B61B solid;
}