* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}


/* HEADER */

header {
    margin-bottom: 2em;
}

h1 {
    text-align: center;
    padding: 0.5em 0.25em;
    font-family: 'Antic', serif;
    font-size: 300%;
}

h2 {
    font-family: 'Antic', serif;
    font-size: 175%;
    margin-bottom: 1em;
}

dl {
    margin-bottom: 2em;
}

code{
    font-size: 125%;
}

dd{
    line-height: 1.5em;
}


/* MAIN */

main {
    max-width: 1000px;
    margin: 0 auto 2em;
    font-size: 110%;
    padding: 2em 2em;
    box-sizing: border-box;
}

main dt {
    margin-bottom: 0.5em;
    font-size: 125%;
    font-family: 'Raleway', sans-serif;
}

main dt a {
    margin-bottom: 0.5em;
    font-size: 125%;
    text-decoration: none;
}


/*
main dt a:hover {
    background-color: #ff8a65;
}
*/


/* COLORES */

#enlaces {
    background: linear-gradient(-45deg, #bbc3f1, #bbc3f1 5%, transparent 5%, transparent 45%, #bbc3f1 45%, #bbc3f1 55%, transparent 55%, transparent 95%, #bbc3f1 95%), #ede7f6;
    background-size: 2em 2em;
}

#enlaces header,
#enlaces main {
    background-color: #d1c4e9;
}

#enlaces dt,
#enlaces a {
    color: #388e3c;
}

#plugins-sublime {
    background: linear-gradient(-45deg, #ffcdd2, #ffcdd2 5%, transparent 5%, transparent 45%, #ffcdd2 45%, #ffcdd2 55%, transparent 55%, transparent 95%, #ffcdd2 95%), #ffebee;
    background-size: 2em 2em;
}

#plugins-sublime header,
#plugins-sublime main {
    background-color: #ef9a9a;
}

#plugins-sublime dt,
#plugins-sublime a {
    color: #1565c0;
}

#apuntes {
    background: linear-gradient(-45deg, #a5d6a7, #a5d6a7 5%, transparent 5%, transparent 45%, #a5d6a7 45%, #a5d6a7 55%, transparent 55%, transparent 95%, #a5d6a7 95%), #e8f5e9;
    background-size: 2em 2em;
}

#apuntes header,
#apuntes main {
    background-color: #66bb6a;
}

#apuntes dt,
#apuntes a {
    color: #7b1fa2;
}

#extras {
    background: linear-gradient(-45deg, #ffe57f, #ffe57f 5%, transparent 5%, transparent 45%, #ffe57f 45%, #ffe57f 55%, transparent 55%, transparent 95%, #ffe57f 95%), #fff8e1;
    background-size: 2em 2em;
}

#extras header,
#extras main {
    background-color: #ffc400;
}

#extras dt,
#extras a {
    color: #7b1fa2;
}


/* MEDIA QUERY */

main dd {
    margin-bottom: 1.5em;
}

@media screen and (max-width:400px) {
    h1 {
        font-size: 250%;
    }
    main {
        padding: 2em 1em;
    }
}