* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

table {
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
}

*:focus {
    outline: none;
}
