* {
    margin: 0;
    padding: 0;
}

html {
    font-family: arial;
}

body {
    text-align: center;
}

img {
    margin: 15px 0px 20px;
}

h1,
h2 {
    margin-bottom: 30px;
    color: blue;
    font-weight: normal;
    font-style: italic;
}

h2 {
    padding-top: 15px;
    padding-left: 25px;
}

p,
li {
    margin-bottom: 20px;
}

a {
    color: green;
}

li {
    color: #ffff4d;
    margin-left: 60px;
}

.azul {
    border: 5px dotted blue;
    margin: 20px auto 30px;
    padding: 20px;
    width: 900px;
    text-align: center;
}

.dolor {
    color: blue;
}

.resaltar {
    background-color: red;
}

.rojo {
    border: 5px dotted red;
    width: 550px;
    margin: 20px auto 30px;
    text-align: left;
}
