.tablaVinculos {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-top: 20px;
    border: 1px solid grey;
    line-height: 25px;
}

th {
    width: 50%;
}

thead {
    background-color: grey;
    font-weight: bold;
}

tbody tr:hover {
    background-color: yellow;
}

tbody tr:nth-child(2n+1) {
    background-color: violet;
}
