/*
*   file: css/style.css
*   autor: Ander Uraga
*   version: 1.0
*   fecha: 2017/04/05
*/



/* reset 
******************************************************* */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:''}table{border-collapse:collapse;border-spacing:0}
/* Animaciones - KeyFrames
******************************************************* */


/* Etiquetas 
******************************************************* */

body{
    font-size: 16px;
}

h1{
    font-size: 2em;
}
li{
    list-style: none;
}
h1{
    font-size: 140%;
}
h2{
    font-size:120%;
}

/* Clases Comunes para reutilizar
******************************************************* */


/* Layouts
******************************************************* */
#content{
    width: 100%;
    margin: 0 auto;
	padding: 8px;
    box-sizing: border-box;
}



/* Estilos propios por paginas
******************************************************* */

