/*
* file: plantillas/style.css
* Autor: Iñigo Martínez
* version: 1.0
* fecha: 2017/04/05
*/

/* RESET
------------------------------------------------------------------------------------- */


/* ANIMACIONES - KEYFRAMES
------------------------------------------------------------------------------------- */

/* ETIQUETAS
------------------------------------------------------------------------------------- */
label{
	margin: 1%;
	width: 6em;
	display: inline-block;
}

/* CLASES COMUNES
------------------------------------------------------------------------------------- */
.boton{
	margin: 1%;
}
/* LAYOUTS
------------------------------------------------------------------------------------- */

/* ESTILOS PERSONALES
------------------------------------------------------------------------------------- */
