html{
    background-color: grey;
}
body {
    color: white;
    margin: 0;
    padding: 0;
}
.container{
    margin:  0 auto;
    width: 800px;
    background-color:black;
    padding: 20px 50px 20px;
}
.menu{
    position: relative;
    display: line-block;
    width: 800px;
    margin: 0 auto;
    color:#BDBDBD;
}
.fondomenu{
    position:relative;
    text-align: center;
}
#Elemento{
    margin: 25px;
    border: 1px solid white;
    display: inline-block;
    color: white;
}
.menu a{
    font-size: 120%;
    display: block;
    padding: 8px;
    text-decoration: none;
    color:white;
}
.menu a:visited{
    color:white;
}
h1 {
    text-align: center;
    margin: 0 auto;
    font-size: 44px;
    font-family: georgia, serif;
    color: blue;
    text-transform: uppercase;
}

h2 {
    font-size: 24px;
    color:blue;
}

h3 {
    font-size: 18px;
    color:blue;
    text-decoration: 
}

p {
    font-family: "lucida sans unicode", serif;
    color: white;
}

img {
    border: 3px solid blue;
    padding: 3px;
}
