<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SrvValidarEntrada</servlet-name>
    <servlet-class>artupa.servlets.SrvValidarEntrada</servlet-class>
    <init-param>
      <param-name>fichero_propiedades</param-name>
      <param-value>C:\\desarrollo\\web\\web-zalla\\ArtupaWeb\\WebContent\\WEB-INF\\artupa.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>SrvClientes</servlet-name>
    <servlet-class>artupa.servlets.SrvClientes</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SrvProcesarCliente</servlet-name>
    <servlet-class>artupa.servlets.SrvProcesarCliente</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SrvActualizarCliente</servlet-name>
    <servlet-class>artupa.servlets.SrvActualizarCliente</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SrvEliminarCliente</servlet-name>
    <servlet-class>artupa.servlets.SrvEliminarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrvValidarEntrada</servlet-name>
    <url-pattern>/SrvValidarEntrada</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SrvClientes</servlet-name>
    <url-pattern>/SrvClientes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SrvProcesarCliente</servlet-name>
    <url-pattern>/SrvProcesarCliente</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SrvActualizarCliente</servlet-name>
    <url-pattern>/SrvActualizarCliente</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SrvEliminarCliente</servlet-name>
    <url-pattern>/SrvEliminarCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SrvPedidos</display-name>
    <servlet-name>SrvPedidos</servlet-name>
    <servlet-class>artupa.servlets.SrvPedidos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrvPedidos</servlet-name>
    <url-pattern>/SrvPedidos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SrvProcesarPedido</display-name>
    <servlet-name>SrvProcesarPedido</servlet-name>
    <servlet-class>artupa.servlets.SrvProcesarPedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrvProcesarPedido</servlet-name>
    <url-pattern>/SrvProcesarPedido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SrvActualizarPedido</display-name>
    <servlet-name>SrvActualizarPedido</servlet-name>
    <servlet-class>artupa.servlets.SrvActualizarPedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrvActualizarPedido</servlet-name>
    <url-pattern>/SrvActualizarPedido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SrvEliminarPedido</display-name>
    <servlet-name>SrvEliminarPedido</servlet-name>
    <servlet-class>artupa.servlets.SrvEliminarPedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrvEliminarPedido</servlet-name>
    <url-pattern>/SrvEliminarPedido</url-pattern>
  </servlet-mapping>
</web-app>