/*   path: css/style.css
    version:1.0
    date:2017-03
    version:0.1
    autor: Ignacio Santos
*/

h1 {
    color:red;
    font-size:25px;
}


.rojo {
    color:red;
}

.padding20 {
    padding:20px;
}
