/* 
   path: css/style.css
   version: 1.0
   date: 2017-03-31
   auto: Ander Uraga Real

*/

h1 {
    color: aqua;
    font-size: 25px;
}
.verde {
    color: darkgreen;
}

.rojo {
    color: red;
}

#pepe {
    
}
