                html {
                    background-color: grey;
                    font-family: "Times New Roman", Times, serif;
                    color: white;
                }
                
                h1 {
                    text-transform: uppercase;
                    font-size: 44px;
                    font-weight: normal;
                    font-family: "Georgia", Serif;
                    color: blue;
                    padding-top: 5px;
                    padding-right: 20px;
                    padding-bottom: 5px;
                    padding-left: 20px;
                    text-align: center;
                    border-bottom: solid 5px white;
                }
                
                h2 {
                    font-size: 24px;
                    font-family: verdana;
                    color: green;
                    border-bottom: solid 2px white;
                    padding: 5px;
                }
                
                h3 {
                    color: black;
                    font-size: 20px;
                    background-color: blue;
                }
                
                h4 {
                    color: blue;
                    font-size: 17px;
                    background-color: blue;
                }
                
                p {
                    font-family: "Times New Roman", Georgia, Serif;
                    font-size: 15px;
                }
                
                a {
                    font-size: 15px;
                    text-decoration: none;
                    color: white;
                    padding-right: 3px;
                    padding-left: 3px;
                    background-color: black;
                    margin-left: 5px;
                }
                
                dl {
                    border-style: double;
                    border-color: green;
                    border-width: 3px;
                }
                
                dd {
                    background-color: black;
                    color: white;
                    padding-top: 5px;
                    padding-right: 2px;
                    padding-bottom: 5px;
                    padding-left: 2px;
                    margin-left: 0px;
                }
                
                dt {
                    background-color: white;
                }
                
                body {
                    margin: 0px;
                }
                
                .container {
                    background-color: black;
                    width: 70%;
                    margin: 0px auto;
                    padding-top: 20px;
                    padding-right: 20px;
                    padding-bottom: 20px;
                    padding-left: 20px;
                    text-align: justify;
                }
                
                .menu1-arriba {
                    color: white;
                    text-transform: uppercase;
                    font-size: 20px;
                    background-color: black;
                    border: 2px solid white;
                    border-radius: 13px;
                    border-width: medium;
                    padding-top: 5px;
                    padding-right: 2px;
                    padding-bottom: 5px;
                    padding-left: 2px;
                    margin-left: 0px;
                    line-height: 40px;
                    text-align: center;
                }
                
                .menu1-arriba:hover {
                    background-color: white;
                    color: black;
                }
                
                .menu-arriba {
                    display: inline-block;
                    font-size: 15px;
                    border-style: solid;
                    border-width: medium;
                    line-height: 30px;
                    border-radius: 13px;
                    margin-bottom: 20px;
                    margin-right: 15px;
                }
                
                .menu-pelis {
                    text-decoration: underline;
                    line-height: 40px;
                    /* display: inline-block;
                    }*/
                }
                
                .menu-pelis li {
                    display: inline-block;
                    padding: 20px;
                }
                
                .menu-pelis a:hover {
                    background-color: white;
                    color: black;
                }
                
                .imagen-borde {
                    border-style: double;
                    border-color: white;
                    display: block;
                    width: 500px;
                    margin: 0px auto;
                    padding: 5px;
                    border: 2px solid blue;
                }
                
                .padding {
                    color: black;
                    border: 5px solid white;
                    background-color: black;
                    padding-top: 50px;
                    padding-right: 30px;
                    padding-bottom: 50px;
                    padding-left: 80px;
                    line-height: 20px;
                }
                
                .ul-borde-blanco {
                    border: 5px solid white;
                }
                
                .menu-inicio {
                    border: 5px solid white;
                    color: white;
                    font-size: 25px;
                    padding-top: 10px;
                    padding-right: 10px;
                    padding-bottom: 10px;
                    padding-left: 10px;
                    line-height: 40px;
                }
                
                #galeria li {
                    display: inline-block;
                    margin: 20px 10px;
                }
                
                #galeria img {
                    border: 3px solid white;
                }
                
                #galeria img:hover {
                    border: 3px solid blue;
                }
                
                #final {
                    padding-top: 10px;
                    margin-top: 10px;
                    order-top: solid 4px;
                    text-align: center;
                }
                
                .tabla tr:hover {
                    background-color: yellow;
                    color: black;
                }
                
                table {
                    border-collapse: collapse;
                    width: 100%;
                    border: 2px solid white;
                    font-size: 18px;
                    margin-left: auto;
                    margin-right: auto;
                }
                
                td {
                    text-align: left;
                    padding: 8px;
                    background-color: black;
                    color: white;
                }
                
                tr:nth-child(even) {
                    background-color: grey;
                }
                
                th {
                    padding: 8px;
                    background-color: grey;
                    color: white;
                    text-align: left;
                }
