/* Animaciones- Keyframes
************************************************************* */


/* Etiquetas
************************************************************* */

body>section {
    width: 50%;
}

#cab-google h1 {
    display: none;
}

#cab-google {
    border-bottom: 1px solid blue;
    padding: 1em;
}

#cab-google a {
    float: right;
}

h1 {
    font-size: 3em;
    margin: 0.5em;
    text-align: center;
}

#marketing {
    float: left;
    width: 67%;
}

#formulario {
    font-family: sans-serif;
    background-color: #F1F1F1;
    padding: 1em;
    width: 14em;
    float: right;
    width: 33%;
    /*margin: 2em;*/
    font-weight: bold;
    font-size: 0.9em;
    box-sizing: border-box;
}

#formulario h1 {
    display: none;
}

#formulario input {
    margin-bottom: 1em;
    margin-top: 0;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}

#formulario select {
    margin-bottom: 1em;
    margin-top: 0;
    font-size: 1em;
    box-sizing: border-box;
}

#formulario label {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 0.8em;
}

#formulario #nombre {
    margin-bottom: 0;
}

#nombre-usuario {
    float: left;
    width: 70%;
}

#gmail {
    float: right;
    width: 30%;
}


/* Clases comunes
************************************************************* */


/* Layouts
************************************************************* */


/*********Menu****************/


}

/***************************/

/* Estilos propios por páginas
************************************************************* */
