/* Animaciones- Keyframes
************************************************************* */


/* Etiquetas
************************************************************* */

body {
    font-size: 16px;
}

main section {
    background-color: #F1F1F1;
    padding: 20px;
    width: 12em;
}

main section p input {
    margin-bottom: 1em;
}


/* Clases comunes
************************************************************* */


/* Layouts
************************************************************* */


/*********Menu****************/


}

/***************************/

/* Estilos propios por páginas
************************************************************* */
