html {
    background-color: grey;
    color: #9CC4E5;
    padding: 0px;
}

body {
    margin: 0px;
}

a {
    color: white;
}

img {
    border: 1px solid gray;
    padding: 5px;
}

.container {
    text-align: center;
    padding: 20px;
    width: 600px;
    background-color: #342e29;
    margin: 0 auto 0 auto;
}

.pie {
    border-top: 2px solid grey;
    padding-top: 30px;
    margin-top: 40px;
}

.a-prin {
    border: 1px solid grey;
    margin-right: 20px;
    padding: 5px;
    text-decoration: none;
}

.a-prin:hover {
    color: black;
    background: white;
}

.a-prin-centrado {
    text-align: justify;
}

.boton {
    font-style: italic;
    color: green;
    font-size: 12 px;
}

.boton2 {
    font-size: 8 px;
    color: blue;
    text-decoration: overline;
}

h1 {
    font-size: 44 px;
    text-transform: uppercase;
}

h2 {
    font-size: 24 px;
}

h3 {
    font-size: 18 px;
}

p {
    color: #e0dfda;
}

#menu li {
    display: inline-block;
}

ul {
    padding: 0px;
}


/*          TABLAS              */

table {
    border-collapse: collapse;
    border-spacing: 0px;
    border: 1px solid white;
    width: 600px;
    font-family: arial;
    color: white;
    padding: 30px;
}

th {
    text-align: center;
    padding: 5px 5px;
}

td {
    padding: 5px 5px;
}

tr>th:first-child {
    text-align: center;
    background: #a4a6a8;
    width: 30%;
}

tr>td:first-child {
    text-align: center;
    background: #a4a6a8;
}

tr>td:last-child {
    text-align: left;
}

tr>th:last-child {
    text-align: left;
}
