html {
    background-color: grey;
    color: #9CC4E5;
    padding: 0px;
}

body {
    margin: 0px;
}

.container {
    text-align: center;
    padding: 20px;
    width: 600px;
    background-color: #342e29;
    margin: 0 auto 0 auto;
}

a {
    color: white;
}

a:hover {
    color: black;
    background-color: white;
}

.a-prin {
    border: 1px solid grey;
    margin-right: 20px;
    padding: 5px;
    text-decoration: none;
}

.a-prin:hover {
    color: black;
    background: white;
}

.a-prin-centrado {
    text-align: justify;
}

.a-prin-der {
    text-align: right;
}

.a-prin-der a {
    color: blue;
}

.a-prin-der a:hover {
    background: blue;
    color: white;
}

h1 {
    font-size: 44 px;
    text-transform: uppercase;
}

h2 {
    font-size: 24 px;
}

h3 {
    border-bottom: 2px solid #9CC4E5;
    font-size: 18 px;
}

p {
    color: #e0dfda;
}

#menu li {
    display: inline-block;
}

ul {
    display: inline-block;
    padding: 20px;
    color: white;
}

ol {
    color: white;
    padding: 20px;
}
