* {
    margin: 0;
    padding: 0;
}

.resultados,
th,
td {
    border-collapse: collapse;
    border: 2px solid black;
}


/*
.resultados thead tr>th:first-child {
    background-color: blue;
}

.resultados thead tr:first-child th:nth-child(2),
.resultados thead tr:nth-child(2) th:first-child,
.resultados thead tr:nth-child(3) th:first-child,
.resultados thead tr:nth-child(3) th:nth-child(2) {
    background-color: red;
}
*/

.resultados tbody tr:nth-child(1n+1) td:nth-child(1n+2) {
    background-color: white;
    text-align: right;
}

.resultados tfoot tr td:nth-child(1n+2) {
    text-align: right;
}

.primera {
    background-color: blue;
}

.segunda {
    background-color: salmon;
}

.tercera {
    background-color: green;
}

.cuarta {
    background-color: salmon;
}


/*
.resultados thead tr th:nth-child(1n+1) {
    background-color: red;
}

.resultados thead tr:nth-child(2n+2) {
    //background-color: red;
}
*/
