* {
    margin: 0;
    padding: 0;
}

#contenedor {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

li {
    list-style: none;
    display: inline-block;
}

#menu {
    color: #fff;
}

body {
    background-color: grey;
}

table {
    width: 100%;
    border: 3px solid black;
    border-spacing: 0;
}

tr:nth-child(even) {
    background-color: red;
}

th,
td {
    padding: 4px
}

th {
    background: green;
    text-align: left;
}

tr:hover {
    background-color: yellow;
}

#content {
    background-color: white;
}

#foto {
    text-align: center;
}
