* {
    margin: 0;
    padding: 0;
}

#contenedor {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}
li {list-style: none;display: inline-block ;
}
#menu  {color:#fff;

}
body {background-color: grey ;}