#galeria li {
    display: inline-block;
    margin: 3px;
}

#galeria a {
    display: block;
}

#galeria img {
    border: 3px solid red;
}

#galeria img:hover {
    border: 3px solid yellow;
}

a,
i,
h1,
h2 {
    color: #9cc4e5;
}

#footer {
    border-top: 1px solid white;
}

.container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    //margin-left: auto;
    //margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #342e29;
    text-align: center;
}
