* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Georgia, Serif;
    background-color: grey;
    color: #e0dfda;
}

body {
    margin: 0px;
}

.vinculo {
    color: red;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid white;
    margin: 10px;
    margin-left: 0px;
    padding: 5px;
    background-color: green;
}

.vinculo:hover {
    color: violet;
    background-color: blue;
}

;
a,
i,
h1,
h2 {
    color: #9cc4e5;
}

.kingimg {
    //display: block;
    border: 1px solid white;
    padding: 5px;
    //margin: 0 auto;
}

p {
    text-align: justify;
}

h1 {
    font-size: 44px;
    font-family: "Lucida Sans unicode", Sans-Serif;
}

h2 {
    font-size: 24px;
    text-transform: capitalize;
    text-align: left;
}

h3 {
    font-size: 18px;
}

#footer {
    border-top: 1px solid white;
    padding-top: 10px;
}

.container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    //margin-left: auto;
    //margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #342e29;
    text-align: center;
}
