h3 {
    font-size: 20px;
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #777;
}

h4 {
    text-align: right;
    width: 350px;
    font-size: 15px;
    margin-bottom: 7px;
    color: #777;
}

table {
    empty-cells: hide;
    border-spacing: 4px;
    margin: 40px 0 10px 0;
    text-align: center;
    color: grey;
    margin-left: auto;
    margin-right: auto;
}

td,
th {
    padding: 4px;
}

th {
    background: #777;
    color: #FFF;
    width: 140px;
}

td {
    border: 1px solid #999;
    padding: 8px;
}

.lateral {
    font-weight: normal;
    color: #333;
    background: #CCC;
    width: 200px;
}

#pie {
    padding-top: 10px;
    margin-top: 10px;
    order-top: solid 4px;
    text-align: center;
}
