#cuadro {
    background-color: grey;
    border-style: 3px solid white;
    border-top-color: black;
    border-bottom-color: yellow;
    border-right-color: blue;
    border-left-color: green;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 2px;
    padding-top: 2px;
    margin-top: 6px;
}
