* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

#contenedor {
    display: inline-block;
}

table {
    border-collapse: collapse;
}

caption {
    margin: 60px 0 20px;
    font-weight: bold;
}

tr * {
    border: 2px #000 solid;
}

td {
    width: 80px;
    padding-right: 5px;
    text-align: right;
}

tbody td {
    background: #FFF;
}

tbody th {
    text-align: left;
    width: 155px;
    padding-left: 5px;
}

tfoot * {
    font-weight: bold;
    padding: 7px 5px;
}

.verde {
    background-color: #D7E3BB;
}

.naranja {
    background-color: #FBD2B2;
}

.gris {
    background: #E9E9E9;
}

.rojo {
    color: #F00;
    font-weight: bold;
}

ul {
    text-align: left;
    list-style: none;
    margin-top: 10px;
    line-height: 18px;
}
