/*
file: css/style.css;
autor: Aitor Ruiz Zamarreño;
version: 1.0;
fecha: 05/04/2017;
	*/


/*reset*
para que sea igual en todos los navegadores
***********************************************************  
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    background-color: grey;
  font-family: 'Great Vibes', cursive;
    color: white;
    font-size: 20px;
}

.container {
    background-color: black;
    width: 70%;
    margin: 0px auto;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    text-align: justify;
    font-family: 'Great Vibes', cursive;
    font-size: 20px;
}


/* Animaciones-key-frames
***********************************************************  */


/* Etiquetas
**********************************************************   */

body {
    font-size: 16px;
}
h1 {
    color:green;
}
h2 {
    font-size: 2em;
    text-align: center;
    color: blue;
    padding-top: 10px;
    border-bottom: solid 5px white;
    padding-bottom: 10px;
}

ol{ padding-top: 10px;
    padding-bottom: 10px;
    
}

#lista-proyectos {
    margin-left: 0px auto;
    margin-right: 0px auto;
    /*padding-top: 20px;*/
    padding-left: 20px;
    text-decoration: none;
    background-color:aliceblue;
    font-size: 25px;
    line-height:45px;
}
 
#lista-proyectos a {
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color:grey;
    font-family: 'Great Vibes', cursive;
}

#lista-proyectos a:hover{
    background-color: aquamarine;
}


#menu-top {
    padding-top: 20px;
    padding-bottom: 5px;
    border: 5px solid white;
    font-size: 40px;
    text-align: center;
  
}
#menu-top a{
    color:aquamarine;
}


/* Clases comunes para reutilizar

**********************************************************   */


/*layouts
**********************************************************   */

#content {
    width: 800px;
    margin: 0 auto;
}


/*Estilos propios por páginas
**********************************************************   */

#imagen-aitor {
    margin-left: 0 auto;
    margin-right: 0 auto;
    padding-top: 10px;
    padding-left: 400px;
    padding-bottom: 20px;
}

footer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 20px;
}
