* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #cceeff;
}

.contenedor {
    text-align: center;
    width: 700px;
    margin: 0 auto;
    background-color: #ebebe0;
}

h1 {
    background-color: #e0e0d1;
}

h2 {
    background-color: #e0e0d1;
}

ul {
    text-align: left;
    margin-left: 30px;
    padding: 15px;
}

p {
    text-align: justify;
    padding: 10px;
    text-indent: 40px;
}

img {
    padding: 20px;
}

.piepagina {
    text-align: right;
}

.azul {
    color: blue;
}

.verde {
    color: green;
}

abbr {
    border-bottom: dotted 1px;
    text-decoration: none;
}
