* {
    padding: 0;
    margin: 0;
    font-family: arial, helvetica, sans-serif;
}

.login-form {
    padding: 50px 10px 20px 10px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    background-color: #9F9F9F;
}

.login-form p {
    margin: 20px 0 10px 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #000;
}


/*.login-form label {
    display: inline-block;
    width: 25%;
}*/

.login-form input,
.login-form select {
    width: 100%;
    border-radius: 5px;
    padding: 5px 5px;
}

.btn {
    width: 100%;
    background-color: #B62D2D;
    color: #fff;
    padding: 10px 0;
    font-size: 1.5em;
}
