* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

h1 {
    text-align: center;
    margin: 25px 0;
    font-size: 45px;
    font-family: 'Bitter', serif;
}

h2 {
    margin: 15px -20px;
    background-color: #7C7452;
    color: #fff;
    padding: 5px 20px;
    font-weight: normal;
    font-family: 'Bitter', serif;
}

ul {
    padding-left: 20px;
    margin-bottom: 20px
}

ul li {
    margin-bottom: 5px
}

p {
    text-indent: 15px;
    margin-bottom: 15px;
}

small {
    display: block;
    text-align: right;
}

abbr {
    border-bottom: 1px dotted #000;
}

.container {
    border: 1px solid #4E4933;
    width: 960px;
    margin: 0 auto;
    padding: 0 20px 20px;
}

.centrar {
    text-align: center;
}
