h1 {
    text-align: center;
}

html {
    text-align: center;
}

.gente {
    background-color: #F0E589;
    border-radius: 6px;
    padding: 1px 3px;
}

.google {
    font-weight: bold;
    color: #2727A5;
}

.up {
    margin: 30px auto;
    border: 3px solid #1F1D70;
    width: 700px;
    padding: 20px;
}

.up p {
    text-align: center;
}

.down {
    margin: 30px auto;
    border: 3px solid #FE7C09;
    width: 500px;
    padding: 20px;
    text-align: left;
}
