/* Hoja de estilos propia */


/*Elementos unicos*/

body {
    background-color: #9bb2ef;
}

h1 {
    font-size: 400%;
}

a {
    color: black;
}


/* clases bootstrap*/

.container-fluid {
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
    border-width: 5px;
    border-style: outset;
    font-family: 'Roboto Condensed', sans-serif;
}


/*clases propias*/

.margen_arriba {
    margin-top: 2%;
}

.margen {
    margin-left: 5%;
    margin-right: 5%;
}

.centrado {
    text-align: center;
}

.textogrande {
    font-size: 2em;
}

.cursiva {
    font-style: italic;
}

.bajoborde {
    border-width: 5px;
    border-style: none none solid none;
    padding-bottom: 1%;
    margin-bottom: 1%;
}
