/*
    path:css/style.css
    version:1.0
    date:31/03/17
    autor:Raul Alvarez
*/


h1 {
    color: aqua;
    font-size: 25px ;
}

#pepe {
    
}

.verde {
    color: green;
}

.rojo {
    color: red;
    
}
