html {
    color: #E0DFDA;
    background-color: grey;
    font-family: "lucida sans unicode"
}

h1 {
    font-family: georgia, serif;
    font-size: 44px;
    color: #9CC4E5;
}

h2 {
    font-family: "lucida sans unicode", sans-serif;
    font-size: 24px;
    color: #9CC4E5;
    text-align: left;
}

a {
    color: #9CC4E5;
}

.intros {
    display: inline-block;
    color: #E0DFDA;
    font-size: 24px;
    border: 1px solid white;
    margin-right: 15px;
    margin-bottom: 20px;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}


}
.maravilla {
    color: #9CC4E5;
}
.pie {
    border-top: 1px solid white;
    padding-top: 10px;
}
.container {
    background-color: #342E29;
    margin: 0 auto;
    padding: 20px;
    width: 600px;
    text-align: center;
}
#header a:hover {
    color: black;
    background-color: white;
}
p {
    text-align: justify;
}
#finalgaleria {
    border-top: 1px solid white;
    text-align: center;
    padding-top: 5px;
    font-size: 17px;
}
#pelis a {
    color: white;
    line-height: 25px;
}
#pelis a:hover {
    color: black;
    background-color: white;
    text-decoration: none;
}
