    html {
        background-image: url(../img/fondo.jpg);
    }
    
    body {
        text-align: center;
        font-size: 1.5em;
        margin: 10em;
        border: 1px solid #ff3333;
        background: #e6ccff;
        font-family: sans-serif;
        color: #3d3d29;
        font-family: 'Roboto Slab', serif;
        margin-top: 15em;
    }
    
    article,
    aside,
    div,
    section,
    header,
    footer {
        margin: 1em;
    }
    
    p {
        text-align: justify;
        margin: 1em 0;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Stint Ultra Expanded', cursive;
        margin-top: 2em;
        margin-bottom: 1em;
    }
    
    h1 {
        font-size: 400%;
    }
    
    h2 {
        font-size: 350%;
    }
    
    h3 {
        font-size: 200%;
    }
    
    h4 {
        font-size: 150%;
    }
    
    h5 {
        font-size: 100%;
    }
    
    h6 {
        font-size: 50%;
    }
    
    a {
        text-decoration: none;
        color: #86592d;
    }
    
    a:hover {
        border-bottom: 1px solid;
    }
    
    #design-archives {
        position: fixed;
        top: 0;
        float: right;
        right: 0;
        color: white;
        width: 100%;
        background-color: beige;
        margin: 0 auto;
    }
    
    #design-archives li {
        display: inline;
        margin-bottom: 3em;
    }
    
    #design-archives ul {
        margin-bottom: 3em;
    }
