table {
    border: 1px solid black;
    width: 100%;
    font-size: 16px;
    border-spacing: 0px 0px;
    margin
}

td {
    margin-right: 30px;
}

thead tr {
    text-align: left;
    background-color: #999999;
}

tbody tr:hover {
    background-color: yellow;
}

thead tr th {
    padding: 5px 10px;
}

tr:nth-child(even) {
    background-color: #CCCCCC;
    padding: 15px 0px;
}

table tr td {
    padding: 5px 10px;
}
