/* 
    path: css/style.css
    version: 1.0
    date: 2017-03-31
    version: 0.1
    auto: Garikoitz Esteban Dieguez 

*/


/* reset
******************************************************************************************* */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Animaciones - KeyFrames
******************************************************************************************* */


/* Etiquetas
******************************************************************************************* */


/* Clases Comunes para reutilizar
******************************************************************************************* */


/* Layouts
******************************************************************************************* */


/* Estilos propios por paginas
******************************************************************************************* */

form {
    background-color: #F1F1F1;
    float: right;
    padding: 1.5em;
}

label,
legend {
    font-weight: bold;
    font-size: 15px;
    display: block;
    padding-top: 20px;
}

input,
select {
    width: 100%;
}

body {
    font-size: 1em;
}

body>section {
    width: 50%;
}

#franjasuperior {
    float: left;
    width: 100%;
    background-color: lightgray;
}

#iniciosesion {
    float: right;
}

#logo {
    float: left;
}

h1 {
    margin-bottom: 20px;
    margin-top: 20px;
}

h2 {
    margin-bottom: 20px;
    margin-top: 20px;
}

#dia {
    width: 40px;
}

#anual {
    width: 80px;
}

#mes {
    width: 120px
}

#siguientepaso {
    float: right;
}

#usuario {
    width: 250px;
}

#usuario::placeholder {
    text-align: right;
}

#nombre {
    width: 120px;
}

#apellidos {
    width: 120px;
}

#password {
    width: 250px;
}

#confirmpassword {
    width: 250px;
}

#sexo {
    width: 250px;
}

#telefono {
    width: 202px;
}

#correo {
    width: 250px;
}

#fnombre label,
#flogin legend,
#ffecha label,
#contacto label {
    display: none;
}

#pais {
    width: 3em;
    display: inline-block;
}

#tituloprincipal {
    text-align: center;
}

#tituloprincipal {
    font-size: 2em;
}

#marketing {
    float: left;
}

#formulario {
    float: right;
    width: 33%;
}

body>footer {
    clear: both;
}

@media (max-width: 640px) {
    /* body > section { width: 100% !important;} */
}


}
#formulario input,
#formulario select {
    width: 100%;
    box-sizing: border-box;
}
