/* 
    path: css/style.css
    version: 1.0
    date: 2017-03-31
    version: 0.1
    auto: Garikoitz Esteban Dieguez 

*/


/* reset
******************************************************************************************* */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Animaciones - KeyFrames
******************************************************************************************* */


/* Etiquetas
******************************************************************************************* */


/* Clases Comunes para reutilizar
******************************************************************************************* */


/* Layouts
******************************************************************************************* */


/* Estilos propios por paginas
******************************************************************************************* */

#formulario form {
    width: 100%;
    float: right;
    padding: 1.5em;
    box-sizing: border-box;
}

#formulario h2 {
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

#formulario #dia,
#formulario #mes,
#formulario ano {
    float: left;
    margin-right: 4px;
    ;
}

#formulario #dia {
    width: 20%;
}

#formulario #mes {
    width: 45%;
}

#formulario #anual {
    width: 31%;
}

label,
legend {
    font-weight: bold;
    font-size: 15px;
    display: block;
    padding-top: 20px;
}

input,
select {
    width: 100%;
}

body {
    font-size: 1em;
    width: 100%;
}

body>section {
    width: 50%;
}

#franjasuperior {
    float: left;
    width: 100%;
    background-color: #F5F5F5;
}

#iniciosesion {
    float: right;
}

#logo {
    float: left;
}

#tituloprincipal h1 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 2em;
}

#tituloprincipal h2 {
    margin-bottom: 20px;
    margin-top: 20px;
}

#siguientepaso {
    float: right;
}

#usuario {
    width: 295px;
}

#usuario::placeholder {
    text-align: right;
}

#password {
    width: 250px;
}

#confirmpassword {
    width: 250px;
}

input[type=submit],
input [type=botton],
.boton {
    border: 3px solid #06f !important;
    background-color: #59f !important;
    background: linear-gradient( #59f, #06f);
    color: white;
    padding: 10px !important;
    height: auto !important;
    font-size: 0.7em;
    border-radius: 2px;
    text-shadow: 0 1px #000000;
}

input[type=submit],
input [type=botton],
.boton;
hover {
    text-decoration: none;
    background: linear-gradient(#06f, #59f)
}

#siguientepaso {
    margin-top: 2em;
}


}
#ubicacion {
    margin-bottom: 2em;
}
#fnombre label,
#flogin legend,
#ffecha label,
#contacto label,
femail {
    display: none;
}
#pais {
    width: 3em;
    display: inline-block;
}
#tituloprincipal {
    font-size: 2em;
    font-family: sans-serif;
    text-align: center;
}
#marketing {
    float: left;
}
#formulario {
    float: right;
    width: 33%;
    background-color: lightgray;
    font-family: sans-serif;
}
#formulario #nombre,
#formulario apellidos {
    float: left;
}
#contacto select,
#contacto input {
    float: left;
}
#contacto select {
    width: 15%;
}
#contacto input {
    width: 85%
}
body>footer {
    clear: both;
}
#formulario select,
#formulario input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid ligthgray;
    height: 2.2em;
    background-color: #f5f5f5;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
#formulario label,
#formulario legend {
    font-weight: bold;
}
footer input [type=submit] {
    display: none;
}
@media (max-width: 800px) {
    #formulario {
        width: 50%;
    }
    
    #marketing {
        display: none;
    }
}
@media (max-width: 640px) {
    #tituloprincipal {
        background-color: #f5f5f5;
        color: darkgray;
        font-size: 0.7em;
        padding: 1em;
        padding-top: 3em;
    }
    
    #formulario {
        width: 100%;
    }
    
    #marketing {
        display: none;
    }
}
