/* 
    path: css/style.css
    version: 1.0
    date: 2017-03-31
    version: 0.1
    auto: Garikoitz Esteban Dieguez 

*/


/* reset
******************************************************************************************* */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Animaciones - KeyFrames
******************************************************************************************* */


/* Etiquetas
******************************************************************************************* */

table {
    border: 1px solid black;
    width: 8 1000px;
    margin: 10px;
    font-family: "times new roman";
}

table caption {
    margin-bottom: 20px;
    font-weight: bold;
}

table tr {
    border: 2px solid black;
    padding: 2px;
}

table th {
    border: 2px solid black;
    padding: 2px;
    width: 300px;
    font-weight: bold;
}

thead tr :fist-child {
    padding-top: 6px;
}

table td {
    border: 2px solid black;
    padding: 2px;
    width: 200px;
}

tbody td {
    background-color: white;
}

tfoot {
    font-weight: bold;
}


/* Clases Comunes para reutilizar
******************************************************************************************* */

.container {
    margin: 0px auto;
    width: 1000px;
}

.red {
    background-color: #FBD2B2;
}

.blue {
    background-color: #E9E9E9;
    text-align: left;
}

.blue :first-child {
    text-align: center;
    padding-top 5px;
}

.green {
    background-color: #D7E3BB
}

.pink {
    background-color: #FBD2B2
}


/* Layouts
******************************************************************************************* */


/* Estilos propios por paginas
******************************************************************************************* */
