.containerfilmografia {
    text-align: left;
}

h3 {
    color: #9CC4E5;
    border-bottom: 1px solid #9CC4E5;
    padding-bottom: 5px;
}

.containerfilmografia .align-right {
    text-align: right;
}
