/*Reset de tabla*/

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 15px auto;
    padding: 10px;
    border: 1px solid grey;
}

thead {
    background: #888888;
    text-align: left;
}

th {
    padding: 5px 10px;
}

td {
    border: 0;
    padding: 5px 10px;
}

tbody tr:hover {
    background: yellow;
}

tbody tr:nth-child(even) {
    background: #cccccc;
}
