<<<<<<< HEAD
img {
    max-width: 100%;
    display: block;
    text-align: center;
    margin: 20px 0;
}
=======
img {
    max-width: 100%;
    display: block;
    text-align: center;
    margin: 20px 0;
}
>>>>>>> fd47c77bcc7caf08540eeb8f13d26d91d013e7ef
