<<<<<<< HEAD
html {
    background: #5e5e5e;
    font-family: arial;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../img/fondo.jpg);
}

h1 {
    font-weight: normal;
    font-size: 72px;
    color: white;
    margin: 20px 0;
}

h2 {
    font-size: 26px;
    font-weight: normal;
    margin: 30px 0;
}

.descripcion {
    color: white;
    font-weight: normal;
    margin: 30px 0;
    text-align: justify;
    font-size: 26px;
}

b {
    color: yellow;
    font-weight: normal;
}

.content h2 {
    margin: 10px 0;
    text-align: justify;
}

h3 {
    font-size: 16px;
    font-weight: bold;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.content {
    background: white;
    padding: 30px 20px;
}

.content p {
    margin: 10px 0;
    text-align: justify;
}

.menu {
    margin: ;
    padding: 20px 30px 20px 0px;
    border-bottom: 2px dashed black;
}

.menu li {
    display: inline-block;
}

li a {
    color: white;
    text-decoration: none;
    border-left: 4px solid yellow;
    padding-left: 8px;
    margin: 0px 40px 0px 0px;
}

li a:hover {
    color: yellow;
}

footer {
    text-align: center;
    color: white;
    margin: 20px;
}

#inicio .presentacion,
#enlaces .enlaces,
#contacto .datos-contacto {
    color: yellow
}
=======
html {
    background: #5e5e5e;
    font-family: arial;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../img/fondo.jpg);
}

h1 {
    font-weight: normal;
    font-size: 72px;
    color: white;
    margin: 20px 0;
}

h2 {
    font-size: 26px;
    font-weight: normal;
    margin: 30px 0;
}

.descripcion {
    color: white;
    font-weight: normal;
    margin: 30px 0;
    text-align: justify;
    font-size: 26px;
}

b {
    color: yellow;
    font-weight: normal;
}

.content h2 {
    margin: 10px 0;
    text-align: justify;
}

h3 {
    font-size: 16px;
    font-weight: bold;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.content {
    background: white;
    padding: 30px 20px;
}

.content p {
    margin: 10px 0;
    text-align: justify;
}

.menu {
    margin: ;
    padding: 20px 30px 20px 0px;
    border-bottom: 2px dashed black;
}

.menu li {
    display: inline-block;
}

li a {
    color: white;
    text-decoration: none;
    border-left: 4px solid yellow;
    padding-left: 8px;
    margin: 0px 40px 0px 0px;
}

li a:hover {
    color: yellow;
}

footer {
    text-align: center;
    color: white;
    margin: 20px;
}

#inicio .presentacion,
#enlaces .enlaces,
#contacto .datos-contacto {
    color: yellow
}
>>>>>>> fd47c77bcc7caf08540eeb8f13d26d91d013e7ef
