/*th 50%
widht 100%

*/

html {
    background: grey;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: arial;
}

.container {
    text-align: justify;
    background: grey;
    width: 800px;
    margin: 15px auto;
    padding: 15px;
    color: white;
}


/*Menu inicial*/

.menu {
    margin-bottom: 10px;
    border-bottom: 3px dotted black;
}

.menu a:hover {
    color: yellow;
}

.menu a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: inline-block;
}

.menu li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
    border-left: 3px solid yellow;
    padding-left: 5px;
    margin-bottom: 30px;
}

.content {}

h1 {
    font-family: arial, helvetica, sans-serif;
    font-size: 72px;
    color: white;
    margin: 30px auto 30px;
    font-weight: normal;
}

.encabezado {
    font-size: 20px;
    color: white;
}


/* General*/

.centrado {
    text-align: center
}

.presentacion {
    padding: 20px 10px 20px 10px;
    background: white;
    color: black;
    text-align: justify;
}

p {
    margin: 20px auto;
}

h2 {
    margin-bottom: 10px;
    color: black
}

span {
    color: yellow;
}


/*				TABLAS			*/

table {
    background: grey;
    color: black;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
}

th {
    border: 1px solid grey;
    background: grey;
    width: 50%;
    padding: 5px 5px;
}

td {
    padding: 5px 5px;
}

.marco {
    border: 1px solid grey;
}

tr:hover {
    background: yellow;
}

.fblanco {
    background: white;
}

.falgo {
    background: #ccb3be;
}
