/*
    path: css/style.css
    version: 1.0
    date: 2017-04-31
    auto: Godir
*/

p#id{
    color:
}
hi {
    color: violet;
    font-size: 2em;
}

.verde {
    color: greenyellow;
}

.rojo {
    color: orangered;
}
