table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 500px;
    border: 2px dashed white;
    margin: 25px auto;
}

tbody th {
    background-color: grey;
}

tbody td {
    background-color: red;
}

tbody td {
    padding: 10px 20px;
}

td:last-child {
    text-align: left;
}
