*{
	padding: 0;
	margin: 0;
}
body{
	margin: 0 auto;
	width: 800px;
}
.cabecera{
	text-align: center;
	display: block;
	margin: 0 auto;
	width: 100%;
	padding: 10px;
	background-color: white;
	border-bottom: 2px solid grey;
}
li{
	text-align: center;
	margin: 0 auto;
	display: inline-block;
	margin-top: 5px;
}
a{
	text-decoration: none;
	background-color: white;
	color: red;
	border: 1px solid red;
}
a:hover{
	background-color: red;
	color:white;
}
.actual{
	background-color: red;
	color:white;
}
.contenido{
	background-color: #D8D8D8;
}
h2{
	text-align: center;
}
img{
	display: block;
	margin: auto;
}
#Version{
	padding-top:10px;
	text-align: center;
	color: red;
}
table{
	empty-cells: hide;
}
thead th{
	background-color: grey;
	color:white;
	font-weight: bold;
	border: 1px solid black;
}
th,td{
	text-align: center;
	border: 1px solid black;
	padding: 10px;
}
th{
	background-color: #BDBDBD;
	font-weight: normal;

}
