                                               thead th {
                                               background: #c2c2a3;
                                               padding: 10px;
                                               width: 100px;
                                               border: solid 1px;
                                           }
                                           
                                           tbody th {
                                               padding: 10px;
                                               border: solid 1px;
                                               margin: 15px 15px;
                                               width: 200px;
                                               background: #d6d6c2;
                                           }
                                           
                                           tbody td {
                                               padding: 10px;
                                               border: solid 1px;
                                               margin: 15px 15px;
                                           }
                                           
                                           table {
                                               empty-cells: hide;
                                           }
                                           
                                           body {
                                               text-align: center;
                                               font-style: arial;
                                           }
                                           
                                           caption {
                                               padding: 25px;
                                           }
                                           
                                           #centrar {
                                               width: 1000px;
                                               margin: auto auto;
                                               padding: 20px;
                                               text-align: center;
