h1 {
    text-transform: uppercase;
    color: #9cc4e5;
    font-size: 44px;
    font-style: georgia, serif;
    text-align: center;
}

h2 {
    text-align: left;
    font-size: 24px;
    color: #9cc4e5;
}

p {
    text-align: justify;
    color: #e0dfda;
    font-family: serif;
    line-height: 25px;
}

html {
    background-color: #ebebe0;
    font-style: "lucida sans unicode", sans-serif;
}

.contenedor {
    background-color: #342e29;
    width: 800px;
    margin: 0px auto;
    padding: 20px;
    text-align: center;
}

body {
    margin-top: 0px;
    margin-bottom: 0px;
}

.boton:hover {
    background-color: white;
    color: black;
}

.boton {
    word-spacing: 4px;
    color: white;
    border: solid 1px;
    padding: 5px;
    text-decoration: none;
    margin-right: 6px;
}

#menu li {
    display: inline-block;
}

#menu a {
    display: block;
}

#menu {
    text-align: center;
}

.filmografia {
    text-align: left;
}
