            a {
                color: #9cc4e5;
            }
            
            .marco {
                border: solid 1px;
                color: white;
                padding: 3px;
                display: block;
                margin: 0px auto;
            }
            
            #pie {
                margin-top: solid 1px #fff;
                padding-top: 10px;
                border-top: solid;
                text-align: center;
            }
            
            ul {
                text-align: left;
            }
