table {
    border: 1px solid white;
    width: 500px;
    text-align: left;
    margin: 30px auto;
    border-spacing: 0px 0px;
    font-size: 14px;
    font-family: "lucida sans unicode"
}

table tr td {
    padding: 10px;
}

table th {
    text-align: center;
    background-color: #666666;
}

.enlaceslist {
    text-align: left;
}
