/*********************************************/


/*            ESTILOS DE TABLA               */


/*********************************************/

.tabla-ficha {
    border: 2px solid black;
    color: white;
    width: 60%;
    margin: 30px auto;
    border-collapse: collapse;
}

.tabla-ficha tr {
    margin: 15px;
}

.tabla-ficha th {
    background-color: #9cc4e5;
    color: #342e29;
}

.tabla-ficha td {
    text-align: left;
    padding: 10px;
}


/*********************************************/


/*            ESTILOS DE LISTA               */


/*********************************************/

.vinculos-ficha {
    text-align: left;
    margin-left: 30px;
    color: white;
}
