/********************************************/


/*           ESTILOS DE PAGINA              */


/********************************************/

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: grey;
    font-family: "lucida sans unicode";
}

.container {
    background-color: #342e29;
    width: 70%;
    margin: 15px auto;
    text-align: center;
    padding: 15px;
}


/*************************************/


/*         ESTILOS GENERALES         */


/*************************************/

h1 {
    font-size: 44px;
    font-family: Georgia, serif;
    text-transform: uppercase;
    color: #9cc4e5;
    text-align: center;
    margin: 15px;
}

h2 {
    font-size: 24px;
    color: #9cc4e5;
    text-align: left;
    margin: 40px 15px 15px;
    border-bottom: 2px solid #9cc4e5;
}

.titulo-h2 {
    border: none;
}

em {
    color: #9cc4e5;
}

p {
    font-size: 18px;
    color: #e0dfda;
    text-align: justify;
    margin: 15px;
}

#ultimo-parrafo {
    border-top: 2px solid white;
    padding-top: 8px;
    margin: 15px;
    margin-top: 100px;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #9cc4e5;
}


/***************************************/


/*                MENU                 */


/***************************************/

.caja-vinculos-menu {
    padding: 30px 0px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    margin: 15px;
}

.caja-vinculos-menu li {
    display: inline-block;
}

.caja-vinculos-menu a {
    text-transform: uppercase;
    font-size: 24px;
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    border: 2px solid white;
}

.caja-vinculos-menu a:hover {
    background-color: white;
    color: #342e29;
}


/****************************/


/*         IMAGENES         */


/****************************/

#img-cara-king-kong {
    margin: 30px;
    padding: 5px;
    border: 2px solid white;
}
