/*   vinculos   */

.links-menu-principal {
    font-size: 20px;
    color: black;
}

.links-navegacion {
    font-size: 24px;
    text-decoration: none;
    border-right: 1px solid orange;
    color: orange;
    margin-left: 10px;
    padding-right: 8px;
}

#ultimo-link {
    border: none;
}

a {
    color: orange;
}


/*   Encabezados   */

h2 {
    color: orange;
    margin-left: 249px;
    margin-bottom: 0px;
    padding: 0px;
}


/*   Listas   */

li {
    display: inline-block;
}

dl {
    padding: 15px;
    border: 2px solid black;
    width: 500px;
    margin-top: 0px;
}

dt {
    color: blue;
    margin-bottom: 20px;
}

dd {
    margin-left: 0;
    background-color: cyan;
    padding-left: 100px;
    margin-bottom: 20px;
}
