* {
    margin: 0;
    padding: 0;
}

html {
    background-color: grey;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 800px;
    margin: 0 auto;
    text-align: justify;
}

#menu {
    border-bottom: 2px dashed black;
    padding: 20px 0px 20px 0;
}

#menu li {
    display: inline-block;
}

#menu a {
    text-decoration: none;
    border-left: 3px solid yellow;
    padding: 0px 20px 0px 5px;
    color: white;
    display: inline-block;
    line-height: 15px;
}

#menu a:hover {
    background-color: white;
    color: black;
}

#content {
    background-color: white;
    color: black;
    padding: 20px;
}

h1 {
    font-size: 72px;
    margin: 20px 0;
    font-style: normal;
    font-weight: normal;
}

#bienvenida p {
    margin: 20px 0;
    font-size: 24px;
}

#nombre {
    color: yellow;
}

#presentacion {
    font-size: 26px;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 10px;
}

h3 {}

.footer {
    border-top: 1px solid white;
    margin-top: 30px;
    text-align: center;
    padding-top: 20px;
    font-style: italic;
}
