html {
    background-color: grey;
}

* {
    margin: 5px 0 0;
    padding: 0;
}

h1 {
    font-size: 24;
    text-align: center;
}

h2 {
    background-color: #6b6b47;
    color: white;
    font-size: 20;
    margin: 20px -10px;
    padding: 10px 20px;
}

p {
    text-indent: 30px;
    margin: 10px;
}

ul {
    margin: 30px;
}

strong {
    color: red;
}

em {
    color: green;
}

abbr {
    border-bottom: dotted;
}

.paella {
    height: 50%;
    width: 50%;
    display: block;
    margin: auto;
}

.container {
    background-color: white;
    margin: auto;
    width: 1000px;
    padding: 10px;
    border: 1px solid black;
}

.foot {
    font-size: 12px;
    text-align: right;
}
