* {
    margin: 0;
    padding: 0;

}

body {
    margin: 0;
    padding: 0;

}

.superior {
    border-bottom: 1px solid grey;

}

.container {
    margin: 0 auto;
    width: 800px;
    padding: 20px 50px 20px;
    background-color: #ebebe0;
}

.menu {
    display: block;
    text-align: center;
    margin: 10px auto;
    width: 800px;
    padding-top: 10px;
    
}

.menu li {
    border: 1px solid red;
    display: inline-block;
    padding: 5px;
    color: red;
}

.menu ul li:nth-child(4) {
    background-color: red;
    color: white;
}

table {
    empty-cells: hide;
    border-collapse: separate;
    width: 800px;
}

th {
    background-color: grey;
}

th,
td {
    text-align: center;
    border: 1px solid black;
    width: 100px;
    padding: 5px;
}

h3,
h2 {
    text-align: center;
    margin: 10px;
}

h2 {
    border-top: 2px solid black;
    color: grey;
    padding: 10px;
    margin-bottom: 10px;
}

h3 {
    color: red;
    margin-top: -10px;
}

img {
    margin: 10px 630px;
}

thead th {
    background-color: #751aff;
}

.img1 {
    width: 60%;
    height: 60%;
    margin: 1px auto;
    text-align: center;
}
