.head1 {
    background-color: #b8b894;
}

.row1 {
    background-color: #d6d6c2;
}

.tab1 {
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
    margin: 0 0 50px 0;
}

th,
td {
    padding: 10px;
}
