* {
    margin: 0 padding: 0;
}

body {
    margin: 20px 100px;
}

label {
    width: 5em;
    display: inline-block;
    border: 1px solid grey;
    padding: 5px;
}

body {
    color: white;
    background-color: black;
}
