html {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: cursive;
    color: green;
    text-align: center;
}

p {
    color: white;
    font-size: 16px;
}

.a1 {
    color: white;
    font-size: 16px;
}

.t1 {
    background-color: blue;
}

.hleft {
    text-align: left;
}

a {
    color: red;
    font-size: 18px;
}

body {
    background-image: url("../img/honeycomb-pattern.jpg");
    background-repeat: none;
}

.recuadro1 {
    border: 5px solid blue;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 800px;
}

.recuadro2 {
    border: 5px solid red;
    padding: 10px;
    margin: 20px auto;
    width: 600px;
    text-align: left;
}

.imag {
    height: 20%;
    width: 20%;
    display: block;
    margin: 0 auto;
}
