html {
    background-color: #5e5e5e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 5px 50px 10px;
    width: 800px;
}

.menuSuperior {
    display: block;
    text-align: left;
    border-bottom: 3px dashed black;
}

.menuSuperior>ul>li {
    display: inline-block;
    margin: 10px;
    padding: 0;
    border-left: 3px solid yellow;
}

.menuSuperior>ul>li>a:hover {
    background-color: #9CC4E5;
    color: black;
}

.menuSuperior>ul>li>a {
    text-decoration: none;
    color: white;
    border: 10px solid #5e5e5e;
}

.content {
    background-color: white;
    text-align: left;
    padding: 30px 20px;
    margin: 10px 0;
}

h1,
.pPrincipal {
    color: white;
}

h1 {
    padding: 10px 0;
    font-size: 72px;
    color: #FFF;
    font-weight: normal;
}

.pPrincipal {
    font-size: 20px;
    padding: 0 0 10px;
}

footer {
    text-align: center;
    color: white;
}

.content>p,
.content>h2 {
    margin: 10px;
}

.resaltado {
    color: yellow;
}

h2 {
    font-weight: bold
}
