html {
    background-color: darkgrey;
}

dl {
    border: 2px solid black;
    padding: 15px;
}

dt {
    font-weight: bold;
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
}

dd {
    background-color: #ffa366;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
}

.a1 {
    text-decoration: none;
}

.a2 {
    color: brown;
}

img {
    border: 10px dashed black;
    border-radius: 10px;
}

h1 {
    margin: 10px;
}

.SN {
    margin-bottom: 0;
}

.SN1 {
    margin-top: 0;
}
