table{
	border-collapse: collapse;
}
thead{
	border: 1px solid #6E6E6E;
	background-color: #6E6E6E;
	text-align: left;
}
th, td{
	padding: 5px 10px;
}
tbody{
	border: 1px solid #6E6E6E;
}
tbody>tr:hover{
	background-color: yellow;
}
.impar{
	background-color: #D8D8D8;
}


