*{margin: 0;padding: 0;}

body{
	font-size: 120%;
	background-color: blue;
}
.contenedor{
	width: 800px;
	margin: 0 auto;
}
.menu{
	width: 800px;	
}
.cabecera{
	width: 800px;
	color: white;
	border-top: 2px dashed black;
}
.nombre{
	color:red;
}
.content{
	padding: 20px 20px;
	background-color: white;
}
ul{
	display: inline-block;
	padding-bottom: 10px;
}
ul>li{
	border-left: 5px solid yellow;
	display: inline-block;
}
li>a{
	padding-left: 5px;
	color: white;
	text-decoration: none;
}
li>a:hover{
	color: yellow;
}
h1{
	margin: 20px 0 20px 0;
	font-size: 300%;
}
h3{
	padding: 10px 0;
}
p{
	padding: 10px 0;
}
div+p{
	margin: 0 auto;
	text-align: center
}