* {
    margin: 0;
    padding: 0;
}

html {
    background: url(../img/dragon-fondo.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: monospace;
}

h1 {
    color: #ffffff;
    font-size: 2 em;
    text-align: center;
}


/* The animation code */

@keyframes example {
    from {
        background-color: red;
    }
    to {
        background-color: yellow;
    }
}


/* The element to apply the animation to */

main section {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 100px;
    animation-name: example;
    animation-duration: 4s;
}
