<?xml version="1.0" encoding="UTF-8"?>
<web_2:web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xmlns:web_2="http://xmlns.jcp.org/xml/ns/javaee" xmlns:web_2="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <web_2:welcome-file-list>
    <web_2:welcome-file>login.jsp</web_2:welcome-file>
  </web_2:welcome-file-list>
  <web_2:servlet>
    <web_2:servlet-name>SrvLogin</web_2:servlet-name>
    <web_2:servlet-class>bdLibreria.servlets.SrvLogin</web_2:servlet-class>
    <web_2:init-param>
      <param-name>fichero_propiedades</param-name>
      <param-value>C:\\Eclipse_JavaEE\\eclipse\\workspace\\TuLibroEnCasa\\WebContent\\WEB-INF\\bdlibreria.properties</param-value>
    </web_2:init-param>
    <web_2:load-on-startup>1</web_2:load-on-startup>
  </web_2:servlet>
  <web_2:servlet-mapping>
    <web_2:servlet-name>SrvLogin</web_2:servlet-name>
    <web_2:url-pattern>/SrvLogin</web_2:url-pattern>
  </web_2:servlet-mapping>
  <web_2:servlet>
    <description></description>
    <display-name>SrvRegistro</display-name>
    <web_2:servlet-name>SrvRegistro</web_2:servlet-name>
    <web_2:servlet-class>bdLibreria.servlets.SrvRegistro</web_2:servlet-class>
  </web_2:servlet>
  <web_2:servlet-mapping>
    <web_2:servlet-name>SrvRegistro</web_2:servlet-name>
    <web_2:url-pattern>/SrvRegistro</web_2:url-pattern>
  </web_2:servlet-mapping>
  <web_2:servlet>
    <description></description>
    <display-name>SrvUsuarios</display-name>
    <web_2:servlet-name>SrvUsuarios</web_2:servlet-name>
    <web_2:servlet-class>bdLibreria.servlets.SrvUsuarios</web_2:servlet-class>
  </web_2:servlet>
  <web_2:servlet-mapping>
    <web_2:servlet-name>SrvUsuarios</web_2:servlet-name>
    <web_2:url-pattern>/SrvUsuarios</web_2:url-pattern>
  </web_2:servlet-mapping>
</web_2:web-app>