#tabla {
    width: 100%;
    text-align: left;
    border: solid 1px;
    border-spacing: 0px;
}

#tabla th {
    background: #adad85;
    font-style: arial;
    width: 50%;
    font-size: 16px;
    padding: 5px;
}

#tabla td {
    width: 50%;
    padding: 5px;
    font-style: arial;
    font-size: 16px;
}

#tabla tr:hover {
    background: #ffff00;
}

#tabla tr:nth-child(even) {
    background: #ffb3b3;
}
