* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #adad85;
    text-align: center;
    color: white;
}

.menu {
    text-align: left;
    padding-bottom: 15px;
    border-bottom: dashed 2px black;
}

.menu a:hover {
    color: ;
}

#contenedor {
    width: 800px;
    margin: 0px auto;
    text-align: center;
}

#content {
    padding: 20px;
    background: white;
    margin-bottom: 20px;
    color: #000000;
}

.menu li {
    display: inline-block;
    border-left: solid 3px #ffff00;
    margin-right: 40px;
}

.menu a {
    display: block;
    padding-left: 9px;
    text-decoration: none;
    color: white;
}

h1,
h2,
h3 {
    text-align: left;
    margin-bottom: 20px;
}

p {
    text-align: justify;
    margin-bottom: 20px;
}

h1 {
    font-size: 72px;
}

.nombre {
    color: #ffff00;
}

h3 {
    font-size: 24px;
    text-align: justify;
}

.pie {
    text-align: center;
}

#content p {
    font-size: 16px;
    te
}

h2 {
    font-size: 18px;
    font-weight: bold;
}
