.container {
    text-align: center;
}

h1 {
    color: blue;
    margin-bottom: 30px;
}

p {
    font-size: 16px;
    font-family: monospace;
}

.caja1 {
    border: 2px solid blue;
    width: 900px;
    padding: 20px;
    background: #F5F3EE;
    margin: 20px auto;
}

#link-google {
    border: 1px solid blue;
    text-decoration: none;
}

.caja2 {
    border: 2px solid red;
    width: 500px;
    padding: 20px;
    background: #F5F3EE;
    margin: 20px auto;
    text-align: left;
}

h2 {
    color: red;
    margin-bottom: 20px;
}

.google {
    font-weight: bold;
    color: #3151F3;
}

.fundadores {
    background: #F0DDB1;
}
