* {
    padding: 0;
    margin: 0;
}

.container {
    padding: 10px;
    border: 1px bold black;
}

h1 {
    text-align: center;
}

h2 {
    background-color: grey;
}

p {
    text-indent: 20px;
}

ul {
    padding-left: 60px;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 24px;
    font-size: 16px;
}
