html {
    font-family: Arial, sans-serif;
}

dl {
    border: solid 1px black;
	margin-right: 400px;
    padding: 20px;
    margin-top:0px;
}

dt,
dd {
    margin-bottom: 10px;
}

dt {
    color: #16186D;
    font-weight: bold;
}

dd {
    background-color: #CFC44E;
    padding: 3px;
    margin-left: 0px
}

h3,
{
    color: #E99613;
}

.logo-fotografo
{
	margin-bottom:30px;
}

.letter-menu {
    text-decoration: none;
    color: orange;
    margin-bottom:0px;
    font-size: 24px;
    line-height: 20px;
}

.top-link {
    color: orange;
}
