* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.versiones {
    empty-cells: hide;
    text-align: center;
    width: 800px;
    padding: 5px;
    border-spacing: 4px;
}

.versiones tbody tr td {
    padding-bottom: 8px;
    padding-top: 8px;
}

.versiones tbody tr td:first-child {
    background-color: grey;
    width: 300px;
}

.versiones tbody tr td:nth-child(1n+2) {
    border: 1px solid black;
}

.versiones th {
    color: white;
    background-color: black;
    width: 200px;
    padding: 5px;
}
