label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 0.2em;
    margin-top: 0.5em
}

#servicios {
    color: lightgrey;
    position: absolute;
    text-align: center;
    /*float: right;
    left: 12em;
    top: 6em;
    */
}

h1 {
    font-size: 4em;
    color: lightgrey;
    text-align: center;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

#secForm {
    border: 1px solid black;
    width: 40%;
    float: right;
    /*position: absolute;
    float: left;
    top: 6em;
    right: 12em;*/
}


/*#secForm {
    border: 1px solid black;
    width: 27%;
    position: relative;
    top: 1em;
    left: 10em;
}*/

form {
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    background-color: lightgrey;
}

#enviar {
    position: relative;
    float: right;
    right: 1em;
}

#nombreUsu::placeholder {
    text-align: right;
    padding-right: 0.1em;
}

#nombre::placeholder,
#apellidos::placeholder,
#dia::placeholder,
#anio::placeholder {
    padding-left: 0.1em;
}

#telCasa {
    padding-left: 0.3em;
}

#bloque {
    display: block;
    margin: 0 auto;
    width: 950px;
}
