* {
    margin: 0px;
    padding: 0px;
}

html {
    background-color: gray;
}

.container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 10px;
}

#titulo {
    color: blue;
    font-weight: normal;
}

.ingElab {
    color: white;
    text-align: left;
    background-color: red;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 20px;
    padding-left: 30px;
}

.pyc {
    color: red;
}

.pya {
    color: green;
}

ul {
    padding-left: 60px;
    text-align: left;
}

h1 {
    text-align: center;
}

.productos {
    margin-bottom: 20px;
}

.recom {
    text-align: right;
    font-style: italic;
}

.h2o {
    color: blue;
}

p {
    text-indent: 20px;
    text-align: justify;
    margin-bottom: 20px;
}

.oms {
    //text-decoration: underline;
    border-bottom: 1px dotted;
}

.paella {
    display: block;
    margin: 0 auto;
}
