/*
file:css/style.css
autor:toni-garcia
version:1.0
date:05/04/2017
*/


/* reset */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* animaciones-keyframes */


/* etiquetas */

body {
    font-size: 16px;
}

h1 {
    font-size: 2em;
}


/* clases comunes */


/* layout */

#content {
    width: 800px;
    margin: 0 auto;
}
# content header h1{
    font-size: 160%;
    text-transform: uppercase
}
main section header h2{
    font-size:120%;
    text-transform: capitalize;
    
}
.g{ background-color: fuchsia;
    color: blue;
    padding: 20px;
    margin:100px,200px,100px,200px;
    display: block;
    text-align: center;
    width: 800px;
}
.dchas{
    text-align: center;
    margin: auto;
    width:1000 px;
    display:block;
}

/* estilos propios por paginas */
