    #fichatecnica {
        font-style: georgia, serif;
        width: 600px;
        border: solid white;
        margin: 0px auto;
        padding: 25px;
        border-spacing: 0px;
        color: white;
    }
    
    #fichatecnica th {
        background: #ccccb3;
        padding: 10px;
        color: #1f1f14;
    }
    
    #fichatecnica td {
        text-align: left;
        padding: 10px;
    }
    
    .enlaces-pie {
        font-style: georgia, serif;
        text-align: left;
        color: white;
    }
