*{
	margin: 0;
	padding: 0;
}
#contenedor {
	width: 580px;
	margin: 0 auto;
	background-color: #342E29;
	padding: 30px 30px 10px 30px;
}
body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
	color: #E0DFDA;
	background-color: #ccc;
}
h1, h2, h3 {
	font-weight: normal;
	color: #9CC4E5;
}
h1 {
	font-size: 44px;
	font-family: georgia, sans-serif;
	text-transform: uppercase;
	word-spacing: 1px;
	margin-bottom: 30px;
	text-align: center;
}
h2 {
	font-size: 24px;
	margin-top: 40px;
}
h3 {
	font-size: 18px;
}
p {
	line-height: 22px;
	margin: 20px 0;
	text-align: justify;
}
a {
	color: #9CC4E5;
}
.footer {
	font-style: italic;
	margin-top: 40px;
	border-top: 1px solid #E0DFDA;
	padding-top: 10px;
	text-align: center;
}
.boton {
	color: #E0DFDA;
	font-size: 15px;
	text-transform: uppercase;
	border: 1px solid #E0DFDA;
	text-decoration: none;
	padding: 4px 8px;
	margin-right: 20px;
	letter-spacing: 2pX;
}
i, span {
	color: #9CC4E5;
}
#kong {
	border: 1px solid #E0DFDA;
	padding: 4px;
	margin-top: 20px;
}
#foto, #menu {
	text-align: center;
}
.boton:hover {
background-color: #E0DFDA;
color:#342E29;
}