* {
    margin: 0;
    padding: 0;
}

body
{
    overflow: hidden;
}

section {
    min-height: 100vh;
    width:100%;
    position:absolute;
    left:0; 
    box-sizing: border-box;
    padding:3em;
}

.top{
    z-index:1;
}

.bottom{
    z-index:-1;
}

.left{
    left:100vw;
    transition: left 2s;
}

#sec-1{
    background-color: red;
}

#sec-2{
    background-color: purple;
}

#sec-3{
    background-color: green;
}