* {
    margin: 0;
    padding: 0;
}


/* BASES */

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

body {
    background: #eceff1;
}


/* BASICS */

button {
    background: #ff3d00;
    border: none;
    font-size: 150%;
    padding: 1em 2em;
    color: #fbe9e7;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 0.5em;
    box-shadow: 0px 4px 4px #263238;
    outline: none;
}

button:active {
    position: relative;
    top: 3px;
    box-shadow: 0px 0px 0px;
}


/* HEADER */

header {
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    background: #263238;
    box-shadow: 0px 5px 5px 2px #607d8b;
    margin-bottom: 3em;
}

h1 {
    font-size: 250%;
    color: #eceff1;
}


/* MAIN */

main {
    max-width: 960px;
    padding: 2em;
    margin: 0 auto;
    background: #455a64;
    box-shadow: 0px 5px 10px 1px #607d8b;
}


/** -- BOLA -- **/

main .ball {
    /*display: block;*/
    display: none;
    opacity: 0;
    height: 100px;
    width: 100px;
    background: #cfd8dc;
    margin: 0 auto 2em;
    border-radius: 50%;
    position: relative;
    animation: item-rotate 5s infinite;
    animation-timing-function: linear;
}

main .ball:hover {
    opacity: 1;
}

.ball .box {
    display: block;
    height: 30%;
    width: 30%;
    background: #ff6e40;
    position: absolute;
    animation: item-rotate 5s infinite;
    animation-timing-function: linear;
}

.ball .box:hover {
    animation-play-state: paused;
}

.box.tr-box {
    right: 0;
}

.box.bl-box {
    bottom: 0;
}

.box.br-box {
    right: 0;
    bottom: 0;
}


/** -- BOLA FIN -- **/

main .button-container {
    display: flex;
    justify-content: center;
}


/* ANIMACIONES */

@keyframes item-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}