* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}


/*********************************/

h1 {
    font-size: 250%;
    text-align: center;
    margin: 1em;
}


/*********************************/

main {
    margin: 0 auto;
    max-width: 1000px;
}

#botones {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    border: 3px #ed2020 solid;
    border-radius: 3px;
    padding: 3%;
    margin: 0 1%;
}

#botones>button {
    width: 10em;
    height: 4em;
    margin: 1em 10px;
    border: 3px solid rgb(76, 181, 226);
    border-radius: 4px;
    background: linear-gradient( rgba(143, 252, 243, 1) 0%, rgba(17, 22, 117, 1) 100%);
    color: rgb(241, 241, 245);
    cursor: pointer;
}

#botones>button:hover {
    background: linear-gradient( rgb(119, 211, 203) 0%, rgb(9, 12, 77) 100%);
}