.space {
    height: 400px;
    position: relative;
    max-width: 800px;
    margin: 10% auto;
    box-sizing: border-box;
}

.running-box {
    height: 50px;
    width: 50px;
    background: #4e342e;
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    animation: item-move 5s infinite;
}

@keyframes item-move {
    0% {
        transform: translate(0%, 0%);
    }
    25% {
        transform: translate(100%, 0%);
    }
    50% {
        transform: translate(100%, 100%);
    }
    75% {
        transform: translate(0%, 100%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}


/*
@keyframes item-move {
    0% {
        top: 0;
        left: 0;
    }
    25% {
        top: 100%;
        left: 0;
    }
    50% {
        left: 100%;
        top: 100%;
    }
    75% {
        left: 100%;
        top: 0;
    }
    100% {
        left: 0;
        top: 0;
    }
}
*/