/* - RESET - */
*
{
    margin:0;
    padding: 0;
}

/* - GLOBALES - */
html
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: #dddddd;
}

body
{
    background-color: #a66a66;
}

header hgroup , main
{
    max-width: 1040px;
    margin:0 auto;
    padding:2em;
    box-sizing: border-box;
}

a
{
    text-decoration: none;
    color: #dddddd;
}


/* - HEADER - */

header
{
    background-color: #336b87;
}

header h1
{
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 550%;
    margin-bottom: 0.2em;
}

header h2
{
    text-align: center;
    font-size: 100%;
}


/* - MAIN - */

main
{
    display: flex;
    background-color: #90afc5;
    padding-top: 1.5em;
    color:#333333;
}

main section
{
    flex-basis: 50%;
    margin:0 1em 0;
    padding: 1em ;
    border:solid 3px #dddddd;
    border-radius: 4px;
}

main section h2
{
    margin-bottom: 1em;
}

main section li
{
    margin-bottom: 0.5em;
    list-style-type: none;
}

/* - FOOTER - */

footer
{
    text-align: center;
    margin: 2em 0 2em;
}