* {
    margin: 0;
    padding: 0;
}


/* Header */

header {
    background-color: purple;
    display: flex;
    justify-content: center;
}

header .cero-block {
    height: 70px;
}


/* Main */

main {
    padding-bottom: 70px;
    height: 100%;
}

main .flex-container {
    padding: 2%;
    min-height: 100%;
    box-sizing: border-box;
    background: green;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-container .min-block-left {
    background: blue;
    min-width: 50%;
    flex-basis: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
    box-sizing: border-box;
}


.flex-container .min-block-right {
    background: red;
    min-width: 50%;
    flex-basis: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
    box-sizing: border-box;
}

.block-part {
    display: block;
    height: 100%;
    width: 80%;
    background-color: grey;
}


/* Footer */

footer {
    position: fixed;
    background-color: red;
    bottom: 0;
    width: 100%;
    height: 70px;
}

footer ul>li {
    display: inline-block;
}