* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

body {
    background-color: rgb(243, 229, 245);
}


/* HEADER */

#page-header {
    height: 5rem;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

#page-header h1 {
    font-size: 200%;
}


/* MAIN */

main {
    max-width: 1200px;
    margin: 0 auto 2rem;
    background-color: #ff5252;
    padding: 1.5rem 1rem;
    box-sizing: border-box;
}


/* - Tabla - */

#product-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 2rem;
}

#product-table caption {
    margin-bottom: 1.5rem;
    font-size: 125%;
}

#product-table th,
#product-table td {
    border: 2px solid #1437d0;
    background-color: green;
}

#product-table tbody tr:nth-child(2n+1) td,
#product-table tbody tr:nth-child(2n+1) th {
    background-color: grey;
}

#product-table thead th {
    text-transform: capitalize;
    padding: 0.75rem 0;
    font-size: 110%;
}

#add-new-registry {
    text-align: right;
    margin-bottom: 1rem;
}

main footer ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

main footer li {
    margin: 0rem 1rem;
}


/* - Formulario - */

#product-form {
    padding: 0 1rem;
}

#editfs-id,
#editfs-final,
#editfs-data fieldset {
    border: none;
}

#product-form legend {
    display: none;
}

#product-form label {
    text-transform: capitalize;
}

#product-form label::after {
    content: ':';
}

#editfs-data {
    border: 3px solid green;
    padding: 1rem;
    margin-bottom: 2rem;
}

#editfs-data ul {
    list-style-type: none;
}

#editfs-data label {
    margin-bottom: 0.33rem;
}

#editfs-data input,
#editfs-data select,
#editfs-data textarea {
    margin-bottom: 1rem;
}

#editfs-data textarea {
    width: 100%;
    max-width: 500px;
    font-family: Arial, Helvetica, sans-serif;
}

#editfs-data-write label {
    display: block;
}

#editfs-id {
    font-size: 120%;
    margin-bottom: 1rem;
}

#edit-id {
    font-size: 120%;
    width: 3rem;
    text-align: right;
}

#editfs-final{
    text-align: right;
}

#editfs-final a
{
    display: inline-block;
}


/* FOOTER */

#page-footer {
    background-color: peru;
    display: flex;
    min-height: 10rem;
}