* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

body {
    background-color: #dbdbdb;
}


/* EXTRAS */


/* HEADER */

#page-header {
    height: 5rem;
    background-color: #fff;
    border-bottom: 2px #888 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 1rem;
}

#page-header h1 {
    font-size: 200%;
    text-align: center;
}


/* MAIN */


/* - buttons - */

.btn-edit {
    background: url('img/i-edit.png');
    background-size: contain;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    font-size: 0;
}

.btn-addnew {
    background: url('img/i-plus.png');
    background-size: contain;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    font-size: 0;
}

.btn-delete {
    background: url('img/i-delete.png');
    background-size: contain;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    font-size: 0;
}

main {
    max-width: 1200px;
    margin: 0 auto 2rem;
    padding: 1.5rem 1rem;
    box-sizing: border-box;
    background-color: #fff;
    border: 2px #888 solid;
}


/* - Tabla - */

#table-container {
    margin-bottom: 2rem;
    overflow-x: auto;
}

#product-table {
    width: 100%;
    min-width: 600px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 4px solid #fff;
}

#product-table caption {
    margin-bottom: 1.5rem;
    font-size: 125%;
}

#product-table th,
#product-table td {
    background-color: #efefef;
    padding: 0.5rem 0.2rem;
}

#product-table tbody tr:nth-child(2n+1) td,
#product-table tbody tr:nth-child(2n+1) th {
    background-color: #c3c3c3;
}

#product-table td:last-child {
    text-align: center;
}

#product-table thead th {
    text-transform: capitalize;
    padding: 0.75rem 0;
    font-size: 110%;
    background-color: #686868;
    color: #f0f0f0;
    border-bottom: 3px solid #fff;
}

colgroup.col-id {
    border-right: 1px solid #eee;
}

colgroup.col-controls {
    border-left: 4px solid #fff;
    width: 10%;
}

colgroup.col-controls td {
    text-align: center;
}

#add-new-registry {
    text-align: right;
    margin-bottom: 1rem;
}

main footer ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
}

main footer li {
    margin: 0rem 1rem;
    font-size: 120%;
    display: flex;
    align-items: center;
}

main footer select {
    font-size: 110%;
    margin-left: 1rem;
}

main footer a {
    text-decoration: none;
    color: #673ab7;
}


/* - Formulario en Modal - */

#form-modal {
    position: fixed;
    padding: 0 10px;
    box-sizing: border-box;
    top: 0;
    background-color: rgba(107, 107, 107, 0.5);
    width: 100%;
    height: 100%;
    display: none;
}

#form-modal header {
    display: none;
}

#form-modal-content {
    max-width: 1000px;
    margin: 10px auto;
    background-color: #ddd;
    box-shadow: 0px 2px 20px 5px #4d4d4d;
    margin-top: 5vh;
    padding: 1rem;
    opacity: 1;
    transition: opacity 0.6s, margin-top 0.6s;
    transition-timing-function: ease;
    max-height: 85vh;
    overflow-y: auto;
}

#form-modal-content.hidden {
    opacity: 0;
    margin-top: -5vh;
}

#product-form {
    padding: 0 1rem;
    position: relative;
}

#editfs-id,
#editfs-final,
#editfs-data fieldset {
    border: none;
}

#product-form legend {
    display: none;
}

#product-form label {
    text-transform: capitalize;
}

#product-form label::after {
    content: ':';
}

#editfs-data {
    border: 3px solid green;
    padding: 1rem;
    margin-bottom: 2rem;
}

#editfs-data ul {
    list-style-type: none;
}

#editfs-data label {
    margin-bottom: 0.33rem;
}

#product-form li {
    margin-bottom: 1rem;
}

#editfs-data textarea {
    width: 100%;
    max-width: 500px;
    font-family: Arial, Helvetica, sans-serif;
}

#editfs-data-write label {
    display: block;
}

#editfs-id {
    font-size: 120%;
    margin-bottom: 1rem;
}

#edit-id {
    font-size: 120%;
    width: 3rem;
    text-align: right;
}

#editfs-final {
    text-align: right;
}

#editfs-final a {
    display: inline-block;
}

.btn-formback {
    position: absolute;
    top: 3px;
    right: 15px;
    background: url('img/i-close.png');
    background-size: contain;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    font-size: 0;
}

.error-msg {
    color: #d32f2f;
    display: inline-block;
    font-size: 75%;
}


/* FOOTER */

#page-footer {
    background-color: #fff;
    display: flex;
    border-top: 2px #888 solid;
    height: 4rem;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 750px) {
    .link-numbers {
        display: none;
    }
}

@media screen and (max-width: 520px) {
    main {
        padding: 1.5rem 0.5rem;
    }
    .link-nexts {
        display: none;
    }
    #form-modal-content {
        padding: 10px 5px;
        margin-top: 2vh;
    }
    #form-modal-content.hidden {
        margin-top: -10vh;
    }
    #product-form {
        padding: 0 0.5rem;
    }
    #editfs-id {
        margin-bottom: 0.5rem;
    }
    #editfs-data input,
    #editfs-data select,
    #editfs-data textarea {
        margin-bottom: 0.5rem;
    }
}

@media screen and (max-width: 420px) {
    main footer label {
        display: none;
    }
    main footer select {
        margin-left: 0;
    }
}