*{
    padding: 0;
    margin: 0;
}

html{
    font-family: arial;
}
table {
    width: 1000px;
    margin: 0 auto;
}

.gris {
    background-color: grey;
}

.naranja {
    background-color: orange;
}

.verde {
    background-color: green;
}

th,td {
    text-align: center;
}
table{
    border: 1px solid red;
}
