body {
    font-size: 1em;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: darkblue;
}

a:hover {
    text-decoration: underline;
}

#franjasuperior {
    float: left;
    width: 100%;
    background-color: #f5f5f5;
    border-bottom: 1px solid lightgray;
}

#logo {
    float: left;
}

#iniciosesion {
    float: right;
}

#tituloprincipal {
    text-align: center;
    padding: 2em;
    padding-top: 3em;
}

#tituloprincipal h1 {
    font-size: 2em;
}

#marketing {
    float: left;
    width: 67%;
}

#formulario {
    float: right;
    width: 33%;
    background-color: #f5f5f5;
    font-family: sans-serif;
}

#formulario label, #formulario legend {
    font-weight: bold;
    margin-bottom: 0.25em;
}

fieldset {
    margin-bottom: 1em;
}

#flogin label {
    margin-top: 1em;
}

#flogin label:first-of-type {
    margin-top: 0;
}

body > footer {
    clear: both;
}

#formulario form {
    width: 100%;
    padding: 1.5em;
    box-sizing: border-box;
}

#formulario label, #formulario legend {
    display: block;
    font-size: 0.8em;
}

#formulario input, #formulario select {
    width: 100%;
    height: 2.2em;
    box-sizing: border-box;
    border: 1px solid lightgray;
}

#formulario input {
    background-color: white;
}

#formulario select {
    background-color: #f5f5f5;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#formulario select::-ms-expand {
    display: none;
}

#formulario #nombre, #formulario #apellidos {
    float: left;
    width: 49%;
}

#formulario #nombre {
    margin-right: 2%;
}

#formulario #dia, #formulario #mes, #formulario #ano {
    float: left;
}

#formulario #dia {
    width: 20%;
}

#formulario #mes {
    width: 45%;
}

#formulario #ano {
    width: 31%;
}

#formulario #mes {
    margin-left: 2%;
    margin-right: 2%;
}

::placeholder, select {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#usuario::placeholder  {
    text-align: right;
}

#usuario:-ms-input-placeholder {
    text-align: right;
}

/* IE10+ */

#usuario::-ms-input-placeholder {
    text-align: right;
}

/* Edge */

#fmovil select, #fmovil input {
    float: left;
}

#fmovil select {
    width: 15%;
    background-color: white;
}

#fmovil input {
    width: 85%;
}

#fpagina input, #fpagina label, #fpagina p {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    top: 1em;
}

#fpagina input {
    float: left;
    width: 15%;
    background-color: white;
    font-size: 0.5em;
}

#fpagina label {
    float: right;
    width: 85%;
    top: 0.5em;
    font-weight: normal;
}

#fpagina p {
    float:left;
    clear: both;
    margin-bottom: 1em;
    color: #888;
    font-size: 0.8em;
    font-weight: bold;
}

#fnombre label,
#flogin legend,
#ffecha label,
#fmovil label,
footer input[type=submit] {
    display: none;
    /* visibility: hidden; */
}

input[type=submit], input[type=button], .boton {
    border: 1px solid #06f !important;
    background-color: #59f !important;
    background: linear-gradient(#59f, #06f);
    color: white;
    padding: 10px !important;
    height: auto !important;
    font-size: 0.7em;
    border-radius: 2px;
    text-shadow: 0 1px #000000;
    text-decoration: none;
}

input[type=submit]:hover, input[type=button]:hover, .boton:hover {
    text-decoration: none;
    background: linear-gradient(#06f,#59f);
}

@media (max-width: 800px) {
    #formulario {
        width: 50%;
    }
    
    #marketing {
        width: 50%;
    }
}

@media (max-width: 640px) { 
    #tituloprincipal {
        background-color: #f5f5f5;
        color: darkgray;
        font-size: 0.7em;
        padding: 1em;
        padding-top: 3em;
    }
    #formulario {
        width: 100%;
    }
    
    #marketing {
        display: none;
    }
}
