body {
    font-size: 1em
}

#franjasuperior {
    float: left;
    width: 100%;
    background-color: lightgray;
}

#logo {
    float: left;
}

#iniciosesion {
    float: right;
}

#tituloprincipal {
    text-align: center;
}

#tituloprincipal h1 {
    font-size: 2em;
}

#marketing {
    float: left;
    width: 67%;
}

#formulario {
    float: right;
    width: 33%;
}

body > footer {
    clear: both;
}

#formulario form {
    width: 100%;
    padding: 1.5em;
    box-sizing: border-box;
}

<<<<<<< HEAD
#formulario label, #formulario legend {
    display: block;
}

#formulario input, #formulario select {
=======
label,
legend {
    display: block;
}

input,
select {
>>>>>>> origin/master
    width: 100%;
    height: 2em;
    box-sizing: border-box;
}

<<<<<<< HEAD
#formulario #nombre, #formulario #apellidos {
    float: left;
    width: 50%;
}

#formulario #dia, #formulario #mes, #formulario #ano {
    float: left;
    width: 33.33%;
}

#usuario::placeholder  {
=======
#usuario::placeholder {
>>>>>>> origin/master
    text-align: right;
}

#usuario:-ms-input-placeholder {
    text-align: right;
}


/* IE10+ */

#usuario::-ms-input-placeholder {
    text-align: right;
}


/* Edge */

#fnombre label,
#flogin legend,
#ffecha label,
#fmovil label {
    display: none;
    /* visibility: hidden; */
}

<<<<<<< HEAD
@media (max-width: 640px) { 
=======
#nombre,
#apellidos {
    width: 49%;
}

@media (max-width: 640px) {
>>>>>>> origin/master
    /*
    body > section {
        width: 100% !important;
    }
    */
    #formulario {
        width: 100%;
    }
    #marketing {
        display: none;
    }
}
