label {
    display: inline-block;
}

body {
    color: black;
    background-color: white;
}

main section {
    width: 12em;
    float: right;
    color: black;
    background-color: #F1F1F1;
    padding: 1em;
    margin: 3em;
}

main section p input {
    margin: 0.5em
}

#day {
    width: 2em;
    margin-right: 0em;
    margin-top: 2em;
}

#month {
    margin-left: 0;
    width: 4em;
}

#year {
    width: 4em;
    margin-left: 0;
}

#nombre,
apellido {
    display: inline-block;
}
