* {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: Arial, serif;
}

html {
    background-color: #342e29;
}

.menu {
    border-bottom: 2px dashed black;
    padding-bottom: 15px;
    padding-top: 15px;
}

.menu li {
    display: inline-block;
}

.menu a {
    display: block;
    margin-right: 45px;
    color: white;
    border-left: 3px solid yellow;
    padding-right: 1px;
    text-decoration: none;
    padding-left: 7px;
}

.menu a:hover {
    color: yellow;
}

.hola {
    color: white;
    font-size: 24px;
    font-weight: normal;
}

.hola strong {
    color: yellow;
    font-weight: normal;
}

.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    //margin-left: auto;
    //margin-right: auto;
    //padding-left: 10px;
    //padding-right: 10px;
    //padding-top: 10px;
    //padding-bottom: 10px;
    text-align: center;
}

.cont {
    margin-top: 20px;
    background-color: white;
    //padding-right: 20px;
    //padding-left: 20px;
    padding: 30px 20px;
}

h1 {
    color: white;
    font-size: 72px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: normal;
}

img {
    margin-top: 20px;
}

.cont h3 {
    margin-top: 20px;
}

.cont p {
    margin-top: 20px;
}

.copy {
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
